<div class="localization-form-wrapper width-100">
  <div class="localization--heading-box">
    <h6 class="localization--heading h5 heading-font">{{ settings.country_language_modal_heading }}</h6>
  </div>
  {% render 'localization-form-content' %}
</div>
