{%- if product.metafields.reviews.rating.value != blank -%}
    {%- liquid 
      assign productRating = product.metafields.reviews.rating.value.rating | floor
      assign decimalProductRating = 0
      assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1
      if decimal >= 0.3 and decimal <= 0.7
        assign decimalProductRating = 0.5
      endif  
    -%}

    <div class="product-reviews" {{ block.shopify_attributes }}>
        <p class="rating-text caption">
            <svg width="14" height="13" viewBox="0 0 14 13" fill="none">
                <path d="M7 0L8.653 4.96572H14L9.674 8.03528L11.3271 13L7 9.93044L2.67403 13L4.32597 8.03426L0 4.96469H5.347L7 0Z" fill="currentColor"/>
            </svg>
            <span aria-hidden="true">
            {{- product.metafields.reviews.rating.value }} 
            </span>
        </p>
    </div>

{% endif  %}
