<div class="main-page--wrapper">
  {%- if page.content != blank -%}
    <div class="{{ settings.container_width }}">
      <div class="page--content rte">
        {{
          page.content | replace: '<table', '<div class="table--responsive"><table' | replace: '</table>', '</table></div>'
        }}
      </div>
    </div>
  {%- endif -%}
</div>
{% schema %}
  {
    "name": "t:sections.main-page.name",
    "tag": "section",
    "class": "section-main-page",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "default": "primary",
        "label": "t:sections.all.colors.label"
      },
      {
        "type": "select",
        "id": "section_background",
        "label": "t:sections.all.section_background.label",
        "default": "solid",
        "options": [
          {
            "label": "t:sections.all.section_background.solid.label",
            "value": "solid"
          },
          {
            "label": "t:sections.all.section_background.gradient.label",
            "value": "gradient"
          }
        ]
      },
      {
        "type": "header",
        "content": "t:sections.all.spacing.section_spacing_heading"
      },
      {
        "type": "range",
        "id": "top_space_desktop",
        "label": "t:sections.all.spacing.top_space_desktop",
        "default": 70,
        "min": 0,
        "max": 150,
        "step": 5
      },
      {
        "type": "range",
        "id": "bottom_space_desktop",
        "label": "t:sections.all.spacing.bottom_space_desktop",
        "default": 70,
        "min": 0,
        "max": 150,
        "step": 5
      },
      {
        "type": "range",
        "id": "top_space_mobile",
        "label": "t:sections.all.spacing.top_space_mobile",
        "default": 40,
        "min": 0,
        "max": 100,
        "step": 5
      },
      {
        "type": "range",
        "id": "bottom_space_mobile",
        "label": "t:sections.all.spacing.bottom_space_mobile",
        "default": 40,
        "min": 0,
        "max": 100,
        "step": 5
      }
    ]
  }
{% endschema %}