*,
*:before,
*:after {
  box-sizing: border-box;
  outline: 0;
}

*,
:focus,
:focus-visible,
:hover {
  outline: 0;
  scrollbar-width: thin;
  scrollbar-color: #ddd transparent;
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
  background: #eee;
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-thumb {
  background: var(--text_color);
}

html * {
  touch-action: manipulation; /* Prevents double-tap zoom but allows scrolling */
}

html.js noscript,
html.no-js .no-js-hidden {
  display: none !important;
}

html.no-js .is-slider {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

html.no-js .layout_1 .is-slider,
html.no-js .layout_3 .is-slider {
  gap: 2px;
}

html.no-js swiper-nav {
  display: none;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: var(--text);
  scrollbar-gutter: stable;
}

body {
  background: var(--body_background);
  color: var(--text_color);
  font-size: var(--text);
  font-family: var(--body_font_family);
  font-weight: var(--body_font_weight);
  line-height: var(--body_font_line_height);
  letter-spacing: var(--body_letter_spacing);
  font-style: var(--body_font_style);
  margin: 0;
  padding: 0;
  word-break: break-word;
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-kerning: normal;
}

.body-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  background: var(--body_background);
}

.content-for-layout {
  display: flex;
  flex: 1;
  backface-visibility: hidden;
  min-height: 70vh;
  flex-direction: column;
  background: var(--body_background);
}

.page-banner .page--title {
  /* color: var(--header_color); */
  color: var(--heading_color);
}

ul,
ol {
  margin: 0;
  list-style: none;
  padding: 0px;
}

a {
  text-decoration: none;
  color: var(--link_color);
  cursor: pointer;
  transition: 0.2s ease;
}

.rte a {
  text-decoration: underline;
  color: inherit;
}

.rte ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.rte ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

blockquote {
  border-left: 1px solid;
  padding-left: 1rem;
  color: var(--text_color);
}

small,
sub,
sup {
  font-size: 95%;
}

iframe,
img {
  max-width: 100%;
}

button,
input[type='submit'] {
  cursor: pointer;
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='text'],
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus-visible {
  outline: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='search']::-webkit-search-cancel-button {
  display: none;
}

details>summary {
  cursor: pointer;
  list-style: none;
}

details>summary::-webkit-details-marker {
  display: none;
}

button {
  border: 0;
  padding: 0;
  color: var(--text_color);
  font-family: var(--body_font_family);
  font-weight: var(--body_font_weight);
  font-style: var(--body_font_style);
  font-size: var(--text);
}

button[disabled] {
  opacity: 0.5;
}

.form-group {
  margin-bottom: 18px;
}

label {
  margin-bottom: 5px;
  display: inline-block;
}

.form-control,
input,
textarea,
select {
  display: block;
  width: 100%;
  background-color: var(--form_background);
  border: 1px solid var(--form_border);
  padding: 9px 20px;
  min-height: 50px;
  color: var(--form_text);
  font-family: var(--body_font_family);
  line-height: 1.3;
  font-size: var(--text);
  border-radius: var(--form_radius);
}

.form-input-small .form-control,
.form-input-small textarea,
.form-input-small select {
  min-height: 42px;
}

.form-input-medium .form-control,
.form-input-medium textarea,
.form-input-medium select {
  min-height: 52px;
}



.input-sm {
  min-height: 42px !important;
}

textarea {
  resize: none;
  overflow: auto;
}

textarea.form-control {
  border-radius: calc(var(--form_radius) / 2);
  min-height: 120px;
}

.form-control::placeholder,
input::placeholder {
  opacity: 0.7;
  position: relative;
  color: var(--form_text);
}

.form-control:focus-visible,
select:focus-visible {
  border-color: var(--text_color) !important;
}

body select {
  -webkit-appearance: none;
  text-overflow: ellipsis;
}

.table--responsive {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid var(--border_color);
  font-size: var(--small_text);
}

table.no-border,
table.no-border td,
table.no-border th {
  border: 0;
}

tr th,
tr td {
  vertical-align: middle;
  white-space: nowrap;
  border: 1px solid var(--border_color);
  color: var(--text_color);
  font-size: var(--text);
  padding: 16px 20px;
  text-wrap: wrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading_color);
  font-family: var(--heading_font_family);
  font-style: var(--heading_font_style);
  font-weight: var(--heading_font_weight);
  line-height: var(--heading_font_line_height);
  letter-spacing: var(--heading_letter_spacing);
  margin: 0;
}

h1,
.h1 {
  font-size: var(--h1);
}

h2,
.h2 {
  font-size: var(--h2);
}

h3,
.h3 {
  font-size: var(--h3);
}

h4,
.h4 {
  font-size: var(--h4);
}

h5,
.h5 {
  font-size: var(--h5);
}

h6,
.h6 {
  font-size: var(--h6);
}

p {
  margin: 0;
  color: var(--text_color);
  font-size: var(--text);
}

p:empty {
  display: none;
}

.text-xsmall {
  font-size: var(--xsmall_text);
}

.text-small {
  font-size: var(--small_text);
}

.text {
  font-size: var(--text);
}

.text-medium {
  font-size: var(--medium_text);
}

.text-large {
  font-size: var(--large_text);
}

.text-xlarge {
  font-size: var(--xlarge_text);
}

.container,
.container-fluid,
.container-sm,
.container-md,.container-xs,
.container-fullwidth,
.container-narrow,
.shopify-policy__container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters>.col,
.no-gutters>[class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-sm-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .d-h1 {
    font-size: var(--h1);
  }

  .d-h2 {
    font-size: var(--h2);
  }

  .d-h3 {
    font-size: var(--h3);
  }

  .d-h4 {
    font-size: var(--h4);
  }

  .d-h5 {
    font-size: var(--h5);
  }

  .d-h6 {
    font-size: var(--h6);
  }

  .container,
  .container-fluid,
  .container-sm,
  .container-md,
  .container-fullwidth,
  .container-narrow,
  .shopify-policy__container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-lg-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .form-control,
  input,
  textarea,
  select {
    min-height: 62px;
  }
}

@media (min-width: 1025px) {
  *:focus-visible {
    outline: 2px solid #595959;
    outline-offset: 1px;
    transition: unset !important;
    z-index: 1;
  }

  .focus-inside:focus-visible {
    outline-offset: -2px;
  }

  .container-fullwidth {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .container-narrow{
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 1200px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-xl-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-xl-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-xl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .container {
    max-width: 1370px;
  }

  .container-fullwidth {
    padding-right: 4rem;
    padding-left: 4rem;
  }
  .container-xs{
    max-width: 1160px;
  }
  .container-sm {
    max-width: 1260px;
  }

  .container-md {
    max-width: 1270px;
  }
}

@media (min-width: 1441px) {
  .container {
    max-width: 1740px;
  }

  .container-sm {
    max-width: 1300px;
  }

  .container-md {
    max-width: 1440px;
  }

  .container-fullwidth {
    padding-right: 7rem;
    padding-left: 7rem;
  }
}

@media (max-width: 767px) {
  *::-webkit-scrollbar {
    display: block;
  }

  input,
  select,
  textarea,
  .form-control {
    font-size: 16px !important;
    padding: 8px 15px;
    min-height: 48px;
  }

  .m-h1 {
    font-size: var(--h1);
  }

  .m-h2 {
    font-size: var(--h2);
  }

  .m-h3 {
    font-size: var(--h3);
  }

  .m-h4 {
    font-size: var(--h4);
  }

  .m-h5 {
    font-size: var(--h5);
  }

  .m-h6 {
    font-size: var(--h6);
  }
}