.section-best-selling-products {
    overflow: hidden;
    position: relative;
}

.bs-products--image-wrapper {
    display: grid;
}

.bs-products--image,
.bs-products--content {
    grid-row-start: 1;
    grid-column-start: 1;
}

.bs-products--content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 4rem;
    padding-right: 2rem;
    padding-bottom: 4rem;
    width: 100%;
    max-width: 550px;
    transition: .5s ease;
}

.bs-products--content .section--btn button {
    padding-left: 8px;
    gap: 15px;
}

.bs-products--content .section--btn button .button--img {
    width: 44px;
    border-radius: 100%;
}

.bs-products--content .section--btn button .button--icon {
    width: 20px;
    height: auto;
}

.bs-product--carousel-main .swiper--custom-buttons {
    justify-content: flex-end;
    margin-bottom: 30px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all .4s ease;
}

.bs-products--wrapper.active .bs-product--carousel-main .swiper--custom-buttons {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

/* .bs-product--carousel-items .product--card {
    flex: 0 0 75%;
} */

.bs-products--wrapper .collapse--btn {
    opacity: 0;
    pointer-events: none;
    margin-top: 20px;
    transition: opacity .8s ease;
}

best-selling-products.active .bs-products--image-wrapper {
    transform: translateX(-50%);
}

.bs-products--wrapper.active .bs-products--content {
    transform: translateX(-30%);
    opacity: 0;
}

best-selling-products.active .bs-product--carousel-wrapper {
    transform: translate(0);
}

best-selling-products.active .bs-product--carousel-inner.swiper {
    overflow: visible;
}

best-selling-products.active .bs-products--bg-pattern {
    transform: translate(-30%);
}

.bs-products--wrapper.active .collapse--btn {
    opacity: 1;
    pointer-events: all;
}

.bs-products--wrapper.active {
    padding-bottom: 10px;
}

.bs-product--carousel-main .swiper--custom-buttons {
    margin-left: auto;
}

@media (min-width:768px) {
    .bs-products--image-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 50%;
        height: 100%;
        transform: translate(0);
        transition: transform .8s ease;
        z-index: 0;
    }

    .bs-products--wrapper.product--over-image .bs-products--image-wrapper {
        max-width: 60%;
    }

    .bs-products--bg-pattern {
        background: var(--body_background);
        left: 50%;
        transition: transform .8s ease;
    }

    .bs-products--wrapper.product--over-image .bs-products--bg-pattern {
        left: 60%;
    }

    .bs-product--carousel-wrapper {
        transform: translate(50%);
        transition: .8s ease;
        pointer-events: all;
        z-index: 1;
        position: relative;
    }

    .bs-product--carousel-items .product--card {
        flex: 0 0 40%;
    }
}

@media (min-width:992px) {
    .bs-product--carousel-items .product--card {
        flex: 0 0 25%;
    }
}

@media (min-width:1025px) {
    best-selling-products:not(.active) .bs-product--carousel-wrapper:hover {
        transform: translateX(45%);
    }

    best-selling-products:not(.active) .bs-product--carousel-wrapper:hover+.bs-products--bg-pattern {
        transform: translate(-3%);
    }

    .bs-products--content .section--btn button:hover {
        padding: 12px 8px;
        transform: translate3d(3%, 3%, 0);
    }
}

@media (max-width:1024px) {
    .bs-products--content {
        padding-left: 2rem;
        padding-bottom: 2rem;
        max-width: 400px;
    }
}

@media (max-width:767px) {
    .bs-product--carousel-main {
        position: relative;
        padding: 30px 0 20px;
    }

    .bs-products--wrapper .collapse--btn {
        display: none;
    }

    .bs-products--content {
        padding: 60px 20px;
        min-height: 350px;
    }

    /* .bs-product--carousel-items .product--card {
        flex: 0 0 54%;
    } */
}