.section-categories .section-wrapper {
  overflow: hidden;
}

.section-wrapper:has(.background--overlay-image),
.categories--wrapper:has(.background--overlay-image) {
  position: relative;
}


.categories--list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

.categories--item {
  display: inline-block;
  text-align: center;
  padding: 14px;
  overflow: hidden;
  position: relative;
  background: var(--body_background);
  --border_color: var(--heading_color);
  border-radius: 100px;
}

.categories--text {
  display: block;
  position: relative;
  height: 100%;
}

.categories--text-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  height: 100%;
  color: var(--heading_color);
}

.categories--text-inner.top-text {
  transition: 0.2s ease-in;
}

.categories--text-inner.bottom-text {
  transition: 0.25s ease-out;
  display: none;
}

.categories--item.show-image {
  padding: 0;
  width: 78px;
  min-height: 50px;
}

.categories--item.show-image.large-width {
  width: 250px;
}

.categories--item.show-image.medium-width {
  width: 180px;
}

.categories--item.show-image.small-width {
  width: 87px;
}

@media (min-width: 768px) {
  .categories--list {
    padding-top: 20px;
  }

  .categories--item {
    padding: 20px 30px;
  }
}

@media (min-width: 1025px) {
  .categories--text-inner.bottom-text {
    display: flex;
    position: absolute;
    left: 0;
    bottom: -200%;
    z-index: 2;
  }

  .categories--item:hover .categories--text-inner.top-text {
    transform: translateY(-130%);
  }

  .categories--item:hover .categories--text-inner.bottom-text {
    bottom: 0;
    color: var(--category_hover_text);
  }

  .hover-circle {
    z-index: 0;
    width: 125%;
    height: 400%;
    background-color: var(--category_hover_bg);
    position: absolute;
    top: auto;
    bottom: -400%;
    left: -13%;
    right: auto;
    transform-style: preserve-3d;
    transition: 0.25s ease-in;
    border-radius: 100%;
  }

  .categories--item:hover .hover-circle {
    transform: translateY(-50%);
  }
}

@media (max-width: 767px) {
  .categories--list {
    gap: 8px;
  }

  .categories--item.show-image.small-width {
    width: 56px;
  }

  .categories--item.show-image.medium-width {
    width: 80px;
  }

  .categories--item.show-image.large-width {
    width: 120px;
  }
}
