.section-collections-tab .collections-tab--menu-content-item:not(.swiper-initialized) .collections-tab--menu-content-item-box {
  flex: 0 0 82.6%;
  margin-right: 15px;
}

.section-collections-tab .section-wrapper {
  overflow: hidden;
  position: relative;
}

.section-collections-tab .section-wrapper.no-background-image:before {
  content: '';
  background: var(--body_alternate_background);
  width: 50%;
  height: 100%;
  position: absolute;
  left: auto;
  top: 0;
  right: 0;
}

.section-collections-tab .collections-tab--background-image {
  width: 50%;
  height: 100%;
  position: absolute;
  left: auto;
  top: 0;
  right: 0;
}

.collections-tab--wrapper {
  position: relative;
  padding-left: 1rem;
}

.collections-tab--menu-content-wrapper {
  display: flex;
}

.collections-tab--wrapper.horizontal-tab .collections-tab--menu {
  margin-bottom: 20px;
}

.collections-tab--wrapper.horizontal-tab .collections-tab--menu-item+.collections-tab--menu-item {
  position: relative;
}

.collections-tab--wrapper.horizontal-tab .collections-tab--menu-item+.collections-tab--menu-item:after {
  content: '';
  background: var(--border_color);
  width: 1px;
  height: 100%;
  position: absolute;
  left: -20px;
  transform: rotate(20deg);
}

.collections-tab--menu-item-link {
  background-image: linear-gradient(transparent calc(100% - 1px), currentColor 1px);
  background-size: 0 100%;
  transition: 0.35s background-size cubic-bezier(0.215, 0.61, 0.355, 1);
  background-position-x: 100%;
  background-repeat: no-repeat;
}

.collections-tab--menu-item:not(.active) .collections-tab--menu-item-link {
  color: color-mix(in srgb, var(--header_color) 50%, transparent);
}

.collections-tab--menu-item.active .collections-tab--menu-item-link {
  background-size: 100% 100%;
}

.collections-tab--wrapper.horizontal-tab .collections-tab--menu-item {
  margin: 0 20px;
}

.collections-tab--wrapper.horizontal-tab .collections-tab--menu-item:first-child {
  margin-left: 0;
}

.collections-tab--wrapper.vertical-tab .collections-tab--menu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  flex-direction: column;
  z-index: 2;
}

.collections-tab--wrapper.vertical-tab .collections-tab--menu .collections-tab--menu-item {
  padding: 10px 0;
}

.collections-tab--menu-content-image {
  border-radius: var(--card_radius);
}

.collections-tab--menu-content-item-inner {
  position: relative;
  display: block;
}

.collections-tab--menu-content-title {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 30px 30px;
  transition: 0.4s ease;
  position: absolute;
  color: var(--image_overlay_heading);
}

.collections-tab--info {
  position: absolute;
  top: 30px;
  display: flex;
  align-items: center;
  background: var(--button_background);
  padding: 12px 15px;
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s ease;
  transform: translate(-50%, -50%);
  z-index: 99;
  color: var(--button_text);
  border-radius: var(--card_radius);
}

.collections-tab--info-icon {
  padding-right: 18px;
  margin-right: 18px;
  position: relative;
  color: var(--button_text);
}

.collections-tab--info-icon svg {
  width: 20px;
  height: auto;
  display: block;
}

.collections-tab--info .product--pricing,
.collections-tab--info .product--pricing .product--actual-price {
  color: var(--button_text);
}

.collections-tab--info-icon:after {
  content: '';
  background: var(--button_border);
  width: 1px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

@media (min-width: 768px) {
  .section-collections-tab .collections-tab--menu-content-item:not(.swiper-initialized) .collections-tab--menu-content-item-box {
    flex: 0 0 38.4%;
    margin-right: 20px;
  }

  .collections-tab--wrapper.vertical-tab .collections-tab--menu {
    left: 10px;
  }
}

@media (min-width: 992px) {
  .section-collections-tab .collections-tab--menu-content-item:not(.swiper-initialized) .collections-tab--menu-content-item-box {
    flex: 0 0 30.53%;
    margin-right: 25px;
  }
}

@media (min-width: 1025px) {
  .section-collections-tab .collections-tab--menu-content-item:not(.swiper-initialized) .collections-tab--menu-content-item-box {
    flex: 0 0 29.35%;
    margin-right: 50px;
  }

  .collections-tab--menu-item-link:hover {
    background-size: 100% 100%;
    background-position-x: 0;
  }

  .collections-tab--menu-content-title {
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .collections-tab--menu-content-item-inner:hover .collections-tab--menu-content-title {
    opacity: 1;
    visibility: visible;
    transform: none;
    pointer-events: all;
  }

  .collections-tab--wrapper {
    padding-left: 2rem;
  }

  .collections-tab--menu-content-item-box:hover {
    z-index: 9;
  }
}

@media (min-width: 1200px) {
  .collections-tab--wrapper {
    padding-left: 4rem;
  }

  .collections-tab--wrapper.vertical-tab .collections-tab--menu {
    left: 20px;
  }
}

@media (min-width: 1441px) {
  .collections-tab--wrapper {
    padding-left: 7rem;
  }

  .collections-tab--wrapper.vertical-tab .collections-tab--menu {
    left: 50px;
  }
}

@media (max-width: 767px) {
  .collections-tab--menu-content-item {
    padding-right: 20px;
  }

  .collections-tab--wrapper.horizontal-tab {
    display: block;
    overflow: auto;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }

  .collections-tab--wrapper.horizontal-tab tabs-element {
    display: block;
    overflow: auto;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }

  .collections-tab--wrapper.horizontal-tab .collections-tab--menu {
    margin-bottom: 0;
    flex-wrap: nowrap;
    white-space: nowrap;
  }
}