.section-collection-list .section-wrapper {
  overflow: hidden;
}

.collection-list--outer {
  z-index: 0;
}

.collection-list--wrapper.stacked {
  display: grid;
  grid-template-columns: repeat(var(--column_count, 2), 1fr);
  align-items: flex-start;
  gap: var(--column_gap);
}

.collection-list--wrapper.border-solid .collection--card .collection--card-img {
  border: 2px solid var(--border_color);
}

.collection-list--wrapper.carousel .collection--card-item {
  padding: 0 calc(var(--column_gap) / 2);
}
.collection--card {
  overflow: hidden;
}
.collection--card-img {
  border-radius: var(--card_radius);
}

.collection--heading-wrap {
  height: 100%;
  width: 100%;
  /* overflow: auto; */
  display: flex;
  padding-right: 20px;
  align-items: flex-end;
}

.collection--card-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 0;
  gap: 20px;
}

.collection--card.overlay-content .collection--card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  padding: 20px 0 20px 20px;
  align-items: flex-end;
  z-index: 1;
  overflow: auto;
  /* pointer-events: none; */
}

.collection--card.overlay-content .collection--heading {
  color: var(--image_overlay_heading);
  max-height: 100%;
  transition: 0.3s ease;
}

.collection--card-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.collection--card-btn.btn-on-image {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 2;
}

.collection--card-btn .arrow--btn {
  border-color: var(--image_overlay_heading);
  color: var(--image_overlay_heading);
}

.collection--card-content.background-hover .collection--heading:before {
  content: '';
  background: var(--highlight_background);
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.5s ease;
}

.collection--card-content .collection--heading {
  position: relative;
  z-index: 1;
  padding: 3px 10px;
  width: calc(100% - 50px);
}

.collection--card .shape-hover .collection--heading svg {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
}

@media (min-width: 768px) {
  .collection-list--wrapper.carousel.column-count-5 .collection--card-item {
    flex: 0 0 20%;
  }

  .collection-list--wrapper.carousel.column-count-4 .collection--card-item {
    flex: 0 0 25%;
  }

  .collection-list--wrapper.carousel.column-count-3 .collection--card-item {
    flex: 0 0 33.33%;
  }
}

@media (min-width: 1025px) {
  .collection--card.overlay-content:hover .collection--heading {
    transform: translateY(-10px);
  }

  .collection--card.overlay-content:hover .arrow--icon {
    transform: rotate(-45deg);
  }

  .collection--card:hover .collection--card-content.background-hover .collection--heading:before {
    width: 100%;
  }

  .collection--card:hover .collection--card-content.background-hover .collection--heading {
    color: var(--highlight_color);
  }
}

@media (min-width: 1200px) {
  .collection--card-content {
    gap: 40px;
  }
}

@media (min-width: 1441px) {
  .collection--card-content {
    gap: 80px;
  }
}

@media (max-width: 767px) {
  .collection-list--wrapper.stacked.mobile-swipe {
    grid-auto-flow: column;
    grid-auto-columns: minmax(75%, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(75%, 1fr));
    overflow-x: auto;
    padding-bottom: 15px;
    scroll-snap-type: x mandatory;
  }

  .main-collection-list .collection--card.overlay-content .collection--card-content {
    padding: 12px 0 12px 12px;
  }

  .collection--heading-wrap {
    padding-right: 22px;
  }

  .collection--card-content .collection--heading {
    width: calc(100% - 36px);
  }

  .collection--card-btn {
    right: 12px;
    bottom: 12px;
  }
}

@media (max-width: 575px) {
  .collection--card-content .collection--heading {
    width: calc(100% - 24px);
  }
}