.discover-look-wrapper {
    position: relative;
}

.discover-list-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33.33%, 1fr));
    height: 100%;
    grid-auto-rows: minmax(min-content, max-content);
    border: none;
    gap: 10px;
}

.product-grid--cards-outer {
    grid-template-columns: repeat(var(--row_count), 1fr);
}

.discover-look-wrapper-inner {
    padding: 25px;
    overflow-y: auto;
    height: calc(100% - 50px);
    display: grid;
    gap: 10px;
}

.discover-look-wrapper-products {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    opacity: 0;
    transition: 0.4s cubic-bezier(0.45, 0.05, 0.55, 0.95) all;
}

.product-grid-card.active-grid .discover-look-wrapper-products {
    opacity: 1;
    transform: translateY(0);
}

.product-grid-card.active-grid span.minus {
    opacity: 1;
    visibility: visible;
}

.product-grid-card.active-grid span.plus {
    opacity: 0;
    visibility: hidden;
}

.product-grid-card {
    position: relative;
    overflow: hidden;
}

.discover-look-wrapper .discover-caption {
    align-items: center;
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    bottom: 8px;
    cursor: pointer;
    display: flex;
    font-size: 11px;
    min-height: 34px;
    justify-content: center;
    left: 0;
    right: 0;
    letter-spacing: .88px;
    line-height: normal;
    position: absolute;
    text-transform: uppercase;
    width: calc(100% - 32px);
    z-index: 1;
    margin: auto;
    background: #ffffff21;
}

.discover-caption.border-enabled {
    border: 1px solid var(--border_color);
}

.discover-caption>span,
.discover_data {
    color: var(--image_overlay_text);
}

.discover_data {
    padding: 10px;
}

.discover-caption>span {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: grid;
    place-content: center;
    padding: 10px;
    transition: 0.3s ease all;
}

span.minus {
    opacity: 0;
    visibility: hidden;
}

.product-tile__meta__price__label {
    color: var(--heading_color);
}

.product-tile__meta {
    background: #fff;
    padding: 10px;
}

.product-grid-card.active-grid .discover-look-wrapper-products {
    background: hsla(0, 0%, 100%, .05);
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
}

.discover-look-wrapper .product-checkout-buttons {
    padding: 10px 0 0;
}

.product-grid-card img {
    transition: 0.5s ease;
}

@media (min-width: 1025px) {
    .product-grid-card:hover img {
        transform: scale(1.1);
    }
}

@media (max-width: 767px) {
    .discover-look-wrapper-inner {
        padding: 15px;
    }
    .discover-list-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(calc(100%/2 - 10px), 1fr));
    }

    .mobile-swipe .product-grid--cards-outer {
        grid-auto-flow: column;
        grid-auto-columns: minmax(85%, 1fr);
        grid-template-columns: minmax(85%, 1fr);
    }

    .mobile-swipe.collection-list-grid {
        grid-template-rows: 1fr;
        overflow-x: auto;
        white-space: nowrap;
        grid-auto-flow: column;
        grid-auto-columns: minmax(100%, 1fr);
    }
}