/* *:not(h1, h2, h3, h4, h5, h6).heading-font {
    font-family: var(--heading_font_family);
    font-style: var(--heading_font_style);
    font-weight: var(--heading_font_weight);
    line-height: var(--heading_font_line_height);
    color: var(--heading_color);
} */
.heading-font {
  font-family: var(--heading_font_family);
  font-style: var(--heading_font_style);
  font-weight: var(--heading_font_weight);
  line-height: var(--heading_font_line_height);
  color: var(--heading_color);
}

.body-font {
  font-family: var(--body_font_family);
  font-style: var(--body_font_style);
  font-weight: var(--body_font_weight);
}

.accent-font {
  font-family: var(--accent_font_family);
  font-style: var(--accent_font_style);
  font-weight: var(--accent_font_weight);
  line-height: var(--accent_font_line_height);
}

span.section--heading.heading-font {
  display: inline-block;
}

.outline-font {
  -webkit-text-stroke: var(--outline_thickness) var(--outline_text_color);
  text-stroke: var(--outline_thickness) var(--outline_text_color);
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.list-inline {
  display: inline-flex;
  flex-wrap: wrap;
}

.cursor-pointer {
  cursor: pointer;
}

.text-underline {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.line-through {
  text-decoration: line-through;
}

.overflow-hidden {
  overflow: hidden;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}
.height-fullpage {
  height: 100vh;
}

.font-bold {
  font-weight: 600;
}

.font-regular {
  font-weight: normal;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-style: normal;
}

.font-italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

.lowercase::first-letter {
  text-transform: uppercase;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.pos-static {
  position: static;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.pos-fixed {
  position: fixed;
}

.pos-sticky {
  position: sticky;
}

.pr-0 {
  padding-right: 0;
}

.pl-0 {
  padding-left: 0;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.gap-0 {
  gap: 0 !important;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.border {
  border: 1px solid var(--border_color);
}

.border-top {
  border-top: 1px solid var(--border_color);
}

.border-bottom {
  border-bottom: 1px solid var(--border_color);
}

.border-right {
  border-right: 1px solid var(--border_color);
}

.border-left {
  border-left: 1px solid var(--border_color);
}

.border-width-2 {
  border-width: 2px;
}

.border-width-3 {
  border-width: 3px;
}

.border-width-4 {
  border-width: 4px;
}

.border-width-5 {
  border-width: 5px;
}

.border-none {
  border: 0;
}

.border-top-none {
  border-top: 0;
}

.border-bottom-none {
  border-bottom: 0;
}

.border-right-none {
  border-right: 0;
}

.border-left-none {
  border-left: 0;
}

.rounded {
  border-radius: 100%;
}

.border-radius-none {
  border-radius: 0 !important;
}

.border-radius-top-left-none {
  border-top-left-radius: 0px !important;
}

.border-radius-top-right-none {
  border-top-right-radius: 0px !important;
}

.border-radius-bottom-left-none {
  border-bottom-left-radius: 0px !important;
}

.border-radius-bottom-right-none {
  border-bottom-right-radius: 0px !important;
}

.border-radius-8 {
  border-radius: 8px;
}

.border-radius-10 {
  border-radius: 10px;
}

.border-radius-18 {
  border-radius: 18px;
}

/* desktop border-radius  */

.top-left {
  top: 15px;
  left: 15px;
}

.top-center {
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.top-right {
  top: 15px;
  right: 15px;
}

.center-left {
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-right {
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.bottom-left {
  bottom: 15px;
  left: 15px;
}

.bottom-center {
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.bottom-right {
  bottom: 15px;
  right: 15px;
}

.hidden,
.js-hidden {
  display: none !important;
}

.visually-hidden {
  visibility: hidden;
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.d-inline-flex {
  display: inline-flex;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.p-0 {
  padding: 0 !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

/* button primary secondary */

/* end */

@media (min-width: 320px) {
  .d-sm-none {
    display: none;
  }

  .d-sm-inline {
    display: inline;
  }

  .d-sm-inline-block {
    display: inline-block;
  }

  .d-sm-block {
    display: block;
  }

  .d-sm-flex {
    display: flex;
  }

  .d-sm-inline-flex {
    display: inline-flex;
  }
}

@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }

  .d-md-inline {
    display: inline;
  }

  .d-md-inline-block {
    display: inline-block;
  }

  .d-md-block {
    display: block !important;
  }

  .d-md-flex {
    display: flex !important;
  }

  .d-md-inline-flex {
    display: inline-flex;
  }

  .d-md-grid {
    display: grid !important;
  }

  .d-text-left {
    text-align: left;
  }

  .d-text-center {
    text-align: center;
  }

  .d-text-right {
    text-align: right;
  }

  .d-pos-static {
    position: static;
  }

  .d-pos-relative {
    position: relative;
  }

  .d-pos-absolute {
    position: absolute;
  }

  .d-pos-fixed {
    position: fixed;
  }

  .d-pos-sticky {
    position: sticky;
  }

  .d-top-left {
    top: 20px;
    left: 20px;
  }

  .d-top-center {
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .d-top-right {
    top: 20px;
    right: 20px;
  }

  .d-center-left {
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }

  .d-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .d-center-right {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  .d-bottom-left {
    bottom: 20px;
    left: 20px;
  }

  .d-bottom-center {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .d-bottom-right {
    bottom: 20px;
    right: 20px;
  }

  .d-pos-static {
    position: static;
  }

  .d-pos-relative {
    position: relative;
  }

  .d-pos-absolute {
    position: absolute;
  }

  .d-pos-fixed {
    position: fixed;
  }

  .d-media-fixed.media {
    height: var(--media_height);
    padding-bottom: 0px;
  }

  .d-media-adapt.media {
    padding-bottom: var(--image_ratio);
  }

  .d-border-radius-all {
    border-radius: var(--card_radius);
    overflow: hidden;
  }

  .d-border-radius-none {
    border-radius: 0px;
  }  

  .d-border-radius-bottom {
    border-bottom-left-radius: var(--card_radius);
    border-bottom-right-radius: var(--card_radius);
    overflow: hidden;
  }

  .d-border-radius-top {
    border-top-left-radius: var(--card_radius);
    border-top-right-radius: var(--card_radius);
    overflow: hidden;
  }

  .d-pr-0 {
    padding-right: 0;
  }

  .d-pl-0 {
    padding-left: 0;
  }

  .d-pt-0 {
    padding-top: 0;
  }

  .d-pb-0 {
    padding-bottom: 0;
  }
}

@media (min-width: 992px) {
  .d-lg-none {
    display: none;
  }

  .d-lg-inline {
    display: inline;
  }

  .d-lg-inline-block {
    display: inline-block;
  }

  .d-lg-block {
    display: block;
  }

  .d-lg-flex {
    display: flex;
  }

  .d-lg-inline-flex {
    display: inline-flex;
  }
}

@media (min-width: 1025px) {
  .image-hover:hover img {
    transform: scale(1.1);
  }
}

@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }

  .d-xl-inline {
    display: inline !important;
  }

  .d-xl-inline-block {
    display: inline-block !important;
  }

  .d-xl-block {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .m-text-left {
    text-align: left;
  }

  .m-text-center {
    text-align: center;
  }

  .m-text-right {
    text-align: right;
  }

  .m-pos-static {
    position: static;
  }

  .m-pos-relative {
    position: relative;
  }

  .m-pos-absolute {
    position: absolute;
  }

  .m-pos-fixed {
    position: fixed;
  }

  .m-pos-sticky {
    position: sticky;
  }

  .m-top-left {
    top: 15px;
    left: 15px;
  }

  .m-top-center {
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
  }

  .m-top-right {
    top: 15px;
    right: 15px;
  }

  .m-center-left {
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }

  .m-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .m-center-right {
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
  }

  .m-bottom-left {
    bottom: 15px;
    left: 15px;
  }

  .m-bottom-center {
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
  }

  .m-bottom-right {
    bottom: 15px;
    right: 15px;
  }

  .m-pos-static {
    position: static;
  }

  .m-pos-relative {
    position: relative;
  }

  .m-pos-absolute {
    position: absolute;
  }

  .m-pos-fixed {
    position: fixed;
  }

  .m-media-fixed.media {
    height: var(--media_height);
    padding-bottom: 0px;
  }

  .m-media-adapt.media {
    padding-bottom: var(--image_ratio);
  }

  .m-border-radius-all {
    border-radius: var(--card_radius);
    overflow: hidden;
  }

  .m-border-radius-none {
    border-radius: 0px;
  }

  .m-border-radius-bottom {
    border-bottom-left-radius: var(--card_radius);
    border-bottom-right-radius: var(--card_radius);
    overflow: hidden;
  }

  .m-border-radius-top {
    border-top-left-radius: var(--card_radius);
    border-top-right-radius: var(--card_radius);
    overflow: hidden;
  }

  .m-pr-0 {
    padding-right: 0;
  }

  .m-pl-0 {
    padding-left: 0;
  }

  .m-pt-0 {
    padding-top: 0;
  }

  .m-pb-0 {
    padding-bottom: 0;
  }
}
