.contact-form--wrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 20px;
}

.contact-form--map-box {
    height: var(--media_height);
    border-radius: var(--card_radius);
}

.section-contact-form .no-container .contact-form--map-box {
    border-radius: 0;
}

.contact-form--content {
    width: 100%;
    margin: 0 auto;    
    padding: 0 15px;
    
}

.contact-form--wrapper.style-contact-form .contact-form--content {
    max-width: 700px;
}

.contact-form--spam-detection {
    padding-top: 20px;
}

.contact-form--map-content {
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(var(--image_overlay_background), var(--image_overlay_opacity));
    width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 15px;
    pointer-events: none;
}

.contact-form--map-heading {
    color: var(--image_overlay_heading);
}

.contact-form--map-desc {
    padding-top: 10px;
}
.contact-form--map-desc ,
.contact-form--map-desc * {
    color: var(--image_overlay_text);
}

@media (min-width:768px) {
    .contact-form--wrapper.style-both {
        grid-template-columns: 1fr 1fr;
        gap: 0;
    }
    .contact-form--content {
        padding: 2rem 4rem;
    }
    .contact-form--map-content {
        padding: 20px;
    }
}

@media (min-width:1025px) {
    .no-container .contact-form--wrapper.style-both .contact-form--content {
        padding: 0 2rem;
    }
    .contact-form--map-content {
        padding: 30px;
    }
}

@media (min-width:1200px) {
    .no-container .contact-form--wrapper.style-both .contact-form--content {
        padding: 0 4rem;
    }
}

@media (min-width:1441px) {
    .no-container .contact-form--wrapper.style-both .contact-form--content {
        padding: 0 7rem;
    }
}