.countdown--wrapper {
    border-radius: var(--card_radius);
    background: var(--card_background);
}

.no-container .countdown--wrapper {
    border-radius: 0px;
}

.countdown--content-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: 1;
    padding: 0 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.countdown--timer-box {
    padding-bottom: 35px;
}

.countdown--timer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.countdown--timer-item {
    background: var(--body_alternate_background);
    min-width: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 6px;
}

.countdown--content-heading {
    padding-bottom: 40px;
}

.countdown--content-timeout {
    padding-bottom: 20px;
}

.countdown--product-list-item-inner {
    animation: marqueeTop 8s linear infinite;
    animation-duration: var(--marquee_speed);
    display: flex;
    gap: 16px;
    padding-bottom: 16px;
}

.countdown--product-list-item.ltr-direction .countdown--product-list-item-inner {
    animation-direction: reverse;
}


/* Flip countdown css start */

.section-countdown {
    --flip_height: 65px;
    --flip_width: calc(var(--flip_height) * 1);
    --line_height: calc(var(--flip_height) * 0.5);
    --animation_time: 0.8s;
    --animation_ease: linear;
    --perspective: 200px;
}

.flip-clock {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.flip {
    height: var(--flip_height);
    width: var(--flip_width);
    font-size: var(--h5);
    font-weight: 700;
    position: relative;
}

.timer--unit {
    padding-top: 5px;
    text-align: center;
}

.flip-clock .timer--unit {
    color: var(--image_overlay_heading);
}

.flip .flip-display {
    height: var(--flip_height);
    width: var(--flip_width);
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.flip .flip-display .flip-display-top,
.flip .flip-display .flip-display-bottom {
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: calc(var(--flip_height) * 0.5);
    color: var(--heading_color);
    background-color: var(--body_alternate_background);
    line-height: calc(var(--line_height) * var(--i));
}

.flip-display-bottom:before {
    content: "";
    background-image: linear-gradient(180deg, rgb(0 0 0 / 8%) 1px, rgb(30 25 25 / 14%) 0, transparent 30%);
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
}

.flip .flip-display .flip-display-top {
    --i: 2;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.flip .flip-display .flip-display-bottom {
    --i: -2;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.flip .flipper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: var(--flip_height);
    width: var(--flip_width);
    perspective: var(--perspective);
}

.flip .flipper .flipper-top,
.flip .flipper .flipper-bottom {
    position: absolute;
    left: -10%;
    right: -10%;
    width: var(--flip_width);
    margin: auto;
    text-align: center;
    height: calc(var(--flip_height) * 0.5);
    line-height: calc(var(--line_height) * var(--i));
    background-color: var(--body_alternate_background);
    overflow: hidden;
    color: var(--heading_color);
}

.flip .flipper .flipper-top {
    --i: 2;
    top: 0;
    transform-origin: bottom;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.flip .flipper .flipper-bottom {
    --i: -2;
    bottom: 0;
    transform: rotateX(90deg);
    transform-origin: top;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.flip.play .flipper-top {
    animation: flipperTopAnimation var(--animation_time) var(--animation_ease);
}

.flip.play .flipper-bottom {
    animation: flipperBottomAnimation var(--animation_time) var(--animation_ease);
}

@keyframes flipperTopAnimation {
    0% {
        transform: rotateX(0deg);
    }

    50%,
    100% {
        transform: rotateX(-90deg);
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes flipperBottomAnimation {

    0%,
    50% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}


/* Flip countdown css end */

@media (min-width:768px) {
    .countdown--timer-item {
        min-width: 80px;
    }

    .section-countdown {
        --flip_height: 80px;
    }
}

@media (min-width:1025px) {
    .countdown--wrapper {
        min-height: 720px;
        display: flex;
        width: 100%;
    }

    .countdown--product-list {
        max-width: 530px;
        position: absolute;
        right: 20px;
        overflow: hidden;
    }

    .countdown--product-list-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: flex-end;
    }

    .countdown--product-list-item {
        flex: 0 0 50%;
        padding: 0 10px;
    }


    .countdown--product-list-item-inner {
        flex-direction: column;
    }

    .countdown--content {
        flex: 0 0 380px;
    }

    .countdown--product-list-wrapper:hover .countdown--product-list-item-inner {
        animation-play-state: paused;
    }

    @keyframes marqueeTop {
        0% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0)
        }

        100% {
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0)
        }
    }
}

@media (min-width:1200px) {
    .countdown--content-wrapper {
        padding: 20px 40px;
    }

    .countdown--content {
        flex: 0 0 500px;
    }

    .countdown--timer-item {
        min-width: 100px;
        padding: 10px 10px;
    }

    .countdown--product-list {
        right: 40px;
    }

    .section-countdown {
        --flip_height: 100px;
    }

    .flip {
        font-size: var(--h4);
    }
}

@media (min-width:1441px) {
    .countdown--timer-item {
        min-width: 120px;
        padding: 20px 10px;
    }

    .section-countdown {
        --flip_height: 130px;
    }

    .flip {
        font-size: var(--h3);
    }

    .countdown--product-list {
        max-width: 600px;
    }
}

@media (min-width:1800px) {
    .countdown--content-wrapper {
        padding: 40px 80px;
    }

    .countdown--content {
        flex: 0 0 42%;
    }

    .countdown--product-list {
        max-width: 36%;
        right: 100px;
    }
}

@media (max-width:1024px) {
    .countdown--product-list-item {
        display: flex;
        gap: 16px;
    }

    .countdown--product-list-item-inner .product--card {
        width: 300px;
    }

    .countdown--content-wrapper {
        position: relative;
        padding-top: 80px;
        padding-bottom: 50px;
    }

    .countdown--timer-box {
        padding-bottom: 20px;
    }

    .countdown--content-heading {
        padding-bottom: 25px;
    }

    .countdown--content {
        padding-bottom: 35px;
    }

    @keyframes marqueeTop {
        0% {
            -webkit-transform: translate(0);
            transform: translate(0);
        }

        100% {
            -webkit-transform: translate(-100%);
            transform: translate(-100%);
        }
    }
}

@media (max-width:767px) {
    .countdown--product-list-item {
        display: flex;
        flex-wrap: nowrap;
        white-space: nowrap;
        column-gap: 16px;
    }

    .countdown--content-wrapper {
        padding-top: 40px;
        padding-bottom: 30px;
    }

    .flip-clock {
        gap: 8px;
    }

    .countdown--product-list-item .countdown--product-list-item-inner {
        gap: 10px;
        padding-bottom: 10px;
    }

    .countdown--product-list-item-inner .product--card {
        width: 170px;
    }

    .countdown--product-list-item-inner .product--card-detail {
        padding: 8px 15px 12px;
    }

    .countdown--product-list-item .product--title {
        font-size: var(--small_text);
        white-space: normal;
    }

    .countdown--product-list-item .product--pricing span {
        font-size: var(--xsmall_text);
    }
    .timer--unit {
        font-size: 12px;
    }
}