.featured-collection--wrapper.stacked {
  display: grid;
  grid-template-columns: repeat(var(--column_count, 2), 1fr);
  align-items: flex-start;
  gap: 10px;
}
.section-featured-collection .section-wrapper {
  overflow: hidden;
}

@media (min-width: 768px) {
  .no-js .featured-collection--wrapper.carousel.column-count-5 .product--card {
    flex: 0 0 20%;
  }

  .no-js .featured-collection--wrapper.carousel.column-count-4 .product--card {
    flex: 0 0 25%;
  }

  .no-js .featured-collection--wrapper.carousel.column-count-3 .product--card {
    flex: 0 0 33.33%;
  }

  .featured-collection--wrapper.stacked {
    gap: var(--product_card_column_gap);
  }
  .section-featured-collection .section--header {
    padding-inline: calc(var(--product_card_column_gap) / 2);
  }
}

@media (max-width: 767px) {
    .featured-collection--outer{
        padding-right: 15px;
  }
  .featured-collection--wrapper.stacked.mobile-swipe {
    grid-auto-flow: column;
    grid-auto-columns: minmax(85%, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(85%, 1fr));
    overflow-x: auto;
    padding-bottom: 15px;
    scroll-snap-type: x mandatory;
    gap: 10px;
  }
}
