.featured-blog--wrapper.style-grid,
.featured-blog--wrapper.style-collage {
    display: grid;
    grid-template-columns: 1fr;
}

.featured-blog--wrapper.style-grid {
    gap: 30px;
}

.featured-blog--wrapper.style-collage .blog-items-column.left-column .blog--item:last-child:before {
    border-radius: 0 0 0 var(--card_radius);
}

.featured-blog--wrapper.style-collage .blog-items-column.left-column .blog--item:first-child:before {
    border-radius: var(--card_radius) 0 0 0;
}

.featured-blog--wrapper.style-collage .blog-items-column.center-column .blog--item:last-child:before {
    border-radius: 0 0 var(--card_radius) var(--card_radius);
}

.featured-blog--wrapper.style-collage .blog-items-column.right-column .blog--item:last-child:before {
    border-radius: 0 0px var(--card_radius) 0;
}

.featured-blog--wrapper.style-collage .blog-items-column.right-column .blog--item:first-child:before {
    border-radius: 0 var(--card_radius) 0px 0;
}

.featured-blog--wrapper.style-collage .blog-items-column.left-column .blog--item:last-child,
.featured-blog--wrapper.style-collage .blog-items-column.center-column .blog--item:last-child,
.featured-blog--wrapper.style-collage .blog-items-column.right-column .blog--item:last-child {
    margin-bottom: 16px;
}

/* blog social icon   */
.blog-social--icons-list {
    position: absolute;
    bottom: 0;
    width: 40px;
    border-radius: var(--card_radius);
    opacity: 0;
    -webkit-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
    z-index: 1;
}

.blog--item:hover .blog-social--icons-list {
    opacity: 1;
    bottom: 50px;
}

.blog-social--icons-link {
    display: inline-block;
    text-align: center;
    margin-bottom: -20px;
    -webkit-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.blog--item:hover .blog-social--icons-list .blog-social--icons-link {
    margin-bottom: 0px;
}

.blog-social--icons-link {
    color: var(--header_icon_color);
    border: 1px solid var(--border_color);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-social--icons-item {
    margin-bottom: 8px;
}

/*  */



@media (min-width:768px) {
    .featured-blog--outer:has(.style-stacked) {
        display: grid;
        grid-template-columns: 1.2fr 1.5fr;
        gap: 40px;
        align-items: flex-start;
    }

    .featured-blog--outer:has(.style-stacked) .featured-blog--intro {
        padding-right: 5%;
        position: sticky;
        top: calc(var(--dynamic_header_height) + 20px);
    }

    .featured-blog--outer:has(.style-grid) .featured-blog--intro,
    .featured-blog--outer:has(.style-collage) .featured-blog--intro {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 20px;
        align-items: center;
    }

    .featured-blog--wrapper.style-grid,
    .featured-blog--wrapper.style-collage {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .featured-blog--wrapper.style-stacked .blog--item.horizontal-view+.blog--item.horizontal-view {
        padding-top: 40px;
        margin-top: 40px;
        border-top: 1px solid var(--border_color);
    }

    .featured-blog--wrapper.style-collage .blog--item {
        padding: 20px;
        padding-bottom: 40px;
        position: relative;
    }

    .featured-blog--wrapper.style-collage .blog--item:before {
        border: 1px solid var(--border_color);
        bottom: 0;
        content: "";
        left: -1px;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: -1px;
    }

    .featured-blog--wrapper.style-collage .blog--button-item {
        padding: 0 10px;
        background: var(--body_background);
        position: absolute;
        bottom: -16px;
        display: flex;
        align-items: center;
        z-index: 1;
    }

    .featured-blog--wrapper.style-collage .blog--button-arrow {
        transition: transform .4s cubic-bezier(.37, 0, .01, 1);
    }


}

@media (min-width:1025px) {
    .featured-blog--wrapper.style-collage .blog--button-text {
        opacity: 0;
        transition: all .5s cubic-bezier(.37, 0, .01, 1);
        width: 0;
        white-space: nowrap;
    }

    .featured-blog--wrapper.style-collage .blog--item:hover .blog--button-text {
        opacity: 1;
        width: var(--text-width, 80px);
    }

    .featured-blog--wrapper.style-collage .blog--item:hover .blog--button-arrow {
        transform: translateX(15%);
    }
}

@media (min-width:1281px) {
    .featured-blog--outer:has(.style-stacked) .featured-blog--intro {
        padding-right: 12%;
        gap: 50px;
    }

    .featured-blog--wrapper.style-stacked .blog--item.horizontal-view+.blog--item.horizontal-view {
        padding-top: 60px;
        margin-top: 60px;
        border-top: 1px solid var(--border_color);
    }

    .featured-blog--wrapper.style-collage {
        grid-template-columns: 1fr 1.5fr 1fr;
    }

    .featured-blog--wrapper.style-collage .blog--item {
        padding: 40px;
    }
}

@media (max-width:1024px) {
    .featured-blog--wrapper.style-collage .blog--button-arrow {
        transform: translateX(10px);
    }
}

@media (max-width:767px) {
    .featured-blog--wrapper {
        display: grid;
        gap: 30px;
    }

    .featured-blog--wrapper.mobile-swipe {
        grid-auto-flow: column;
        grid-auto-columns: minmax(85%, 1fr);
        grid-template-columns: repeat(auto-fill, minmax(85%, 1fr));
        overflow-x: auto;
        padding-bottom: 15px;
        scroll-snap-type: x mandatory;
        gap: 15px;
    }
}