.footer--main {
  background: var(--footer_background);
  color: var(--footer_color);
  --text_color: var(--footer_color);
}

.section-footer {
  position: relative;
  display: grid;
}

.footer--main.border-radius-enabled {
  border-radius: 20px 20px 0 0;
}


.footer--top {
  padding-top: 70px;
  padding-bottom: 20px;
}

.footer--main a,
.footer--main a * {
  color: var(--footer_link_color);
}

.footer--left {
  display: grid;
  gap: 20px;
  padding-bottom: 30px;
}

.footer--logo {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: var(--logo_width);
}

.footer--logo-img {
  height: auto;
}

.footer--social-links .social--icons-list {
  gap: 6px;
}

.footer--social-links .social--icons-link {
  color: var(--footer_link_color);
  border: 1px solid var(--footer_link_color);
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.footer--social-links .social--icons-link svg {
  width: 14px;
}


.footer--right-top {
  padding-bottom: 35px;
  margin-bottom: 35px;
  border-bottom: 1px solid var(--footer_border);
}

.footer--heading {
  color: var(--footer_heading_color);
}

.footer--menu {
  padding-bottom: 40px;
}

.footer--menu-heading {
  padding-bottom: 5px;
  color: var(--footer_heading_color);
  pointer-events: none;
}

.footer--menu-desc {
  padding-bottom: 15px;
}

.footer--menu-item {
  padding-top: 10px;
}

.footer--menu-link,
.footer-quick-links-link,
.footer--menu-info-text {
  display: inline-block;
  color: var(--footer_link_color);
  background-image: linear-gradient(transparent calc(100% - 1px), currentColor 1px);
  background-size: 0 100%;
  transition: 0.35s background-size cubic-bezier(0.215, 0.61, 0.355, 1);
  background-position-x: 100%;
  background-repeat: no-repeat;
}

.footer-newsletter-form-box {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  align-items: center;
  border-bottom: 1px solid var(--footer_form_border);
  color: var(--footer_form_text);
}

.footer-newsletter-form-box input {
  border: 0;
  border-radius: 0;
  padding: 0;
  background: transparent;
  color: inherit;
}

.footer-newsletter-form-box input::placeholder {
  color: var(--footer_form_text);
}

.footer-newsletter-form-box .arrow--btn {
  background: var(--footer_form_button_background);
  border: 0;
  color: var(--footer_form_button_text);
}

.footer--bottom {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid var(--footer_border);
}

.footer--info-block {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.footer-quick-links {
  row-gap: 6px;
  column-gap: 15px;
}

.footer--menu-info-item {
  padding-top: 10px;
}

.footer--menu-info-link {
  display: inline-grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
  align-items: center;
  color: var(--footer_link_color);
}

.footer--menu-info-link svg {
  width: 16px;
  height: auto;
}

.footer--logo.footer--emphasize-logo {
  --logo_width: 100%;
  padding-bottom: 30px;
}

.footer--logo.footer--emphasize-logo img {
  width: 100%;
  height: auto;
}


@media (min-width: 768px) {
  .footer--main.border-radius-enabled {
    border-radius: 50px 50px 0 0;
  }
}

@media (min-width: 992px) {
  .footer--left {
    max-width: 300px;
    gap: 25px;
  }

  .footer--info-block:nth-child(2) {
    align-items: center;
    text-align: center;
  }

  .footer-quick-links {
    justify-content: center;
  }

  .footer--info-block:nth-child(3) {
    align-items: flex-end;
    text-align: right;
  }

  .footer--bottom {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}

@media (min-width: 1025px) {
  .footer--logo.footer--emphasize-logo {
    padding-bottom: 60px;
  }

  .footer-top a:hover {
    color: var(--footer_hover_color);
  }

  .footer--menu-link:hover,
  .footer-quick-links-link:hover,
  .footer--menu-info-text:hover {
    color: var(--footer_hover_color);
    background-size: 100% 100%;
    background-position-x: 0;
  }

  .footer--social-links .social--icons-link {
    width: 54px;
    height: 54px;
  }

  .footer--social-links .social--icons-link svg {
    width: 20px;
  }
  
  .footer--collection-list {
    position: relative;
  }

  .footer--menu-image {
    position: absolute;
    top: 0;
    right: calc(100% + 25px);
    opacity: 0;
    height: calc(100% - 20px);
    width: auto;
    aspect-ratio: .8;
    object-fit: cover;
    border-radius: var(--card_radius);
  }


.footer--menu-item .footer--menu-link:hover+.footer--menu-image {
    animation: slideLeft .5s ease;
}
 @keyframes slideLeft{
  0%{
   transform: translateX(10px);
   opacity: 0;
  }
  100%{
   transform: translateX(0px);
   opacity: 1;
  }
 }
  .footer--menu-right .footer--menu-image {
    right: 0;
  }

  .footer--menu-collection-item .footer--menu-link:hover+ .footer--menu-image {
    opacity: 1; 
  }
}

@media (min-width: 1441px) {
  .footer--logo.footer--emphasize-logo {
    padding-bottom: 80px;
  }

  .footer--left {
    max-width: 400px;
  }
}

@media (max-width: 1024px) {
  .footer--menu-image {
    display: none;
  }
}

@media (max-width: 767px) {
  .footer--menu.footer--mb-accordions {
    padding-bottom: 0;
  }

  .footer--mb-accordions .footer--menu-heading {
    pointer-events: all;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
  }

  .accordion--icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer--mb-accordions .footer--menu-list {
    padding-bottom: 15px;
  }

  .accordion--icon .vertical {
    transform: rotate(0);
    transform-origin: center;
    transition: transform 0.5s cubic-bezier(0.3, 1, 0.3, 1);
  }

  .footer--menu[open] .accordion--icon .vertical {
    transform: rotate(270deg);
  }
}