.section-header {
  position: static;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  transition: 0.4s ease;
}
.section-header.section-spacing{
  padding-top: var(--header_top_spacing);
  padding-bottom: var(--header_bottom_spacing);
}
.section-header:has(.sticky-always),
.section-header:has(.sticky-scroll-up) {
  position: sticky;
}

.header {
  display: block;
  background: var(--header_background);
  color: var(--header_color);
  width: 100%;
  position: relative;
  transition: 0.4s ease;
  border-radius: var(--header_radius);
}
 
.header:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  background: var(--header_background);
  border-radius: var(--header_radius);
  transition: opacity 0.4s cubic-bezier(0.104, 0.204, 0.492, 1) 0.1s;
}

.section-header.is-hidden-header {
  pointer-events: none;
}

.is-hidden {
  transform: translateY(calc(-1 * var(--header_height) - 2px - var(--header_top_spacing) ));
}

.header.border-true {
  border: 1px solid rgba(var(--header_border_color), 0.15);
}
.no-container .header {
    border-width: 0 0 1px 0;
}
.header.shadow-true {
  box-shadow: 0 3px 8px #0000000d;
}

.has-transparent-blur {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.header--wrapper {
  display: grid;
  grid-template-areas: 'hamburger logo icons';
  grid-template-columns: 1fr auto 1fr;
  column-gap: 10px;
  min-height: 65px;
}

.header.header-height-small .header--wrapper {
  min-height: 36px;
}

.header.header-height-medium .header--wrapper {
  min-height: 50px;
}

.header--logo {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: var(--logo_width);
  margin: 10px 0px;
  grid-area: logo;
}

.header--logo-text {
  color: var(--header_color);
}

.header--logo-img {
  height: auto;
}

.transparent-logo-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left;
  opacity: 0;
}

.header--right {
  grid-area: icons;
  margin-left: auto;
}

.header--icon-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header--icon-link {
  display: block;
}

.header--icon-link-text {
  display: inline-flex;
  position: relative;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  color: var(--header_icon_color);
  transition: 0.5s ease;
  border-radius: 100%;
}


.header--icon-link-text:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: currentColor;
  opacity: 0;
  pointer-events: none;
  border-radius: 100%;
  transition: 0.3s ease;
}

.cart--count {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 10px;
  font-weight: 600;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--header_color);
  color: var(--header_background);
  border: 1px solid rgb(var(--header_border_color));
  position: absolute;
  top: 0px;
  right: -2px;
}

.cart--count.large-items {
  font-size: 0;
  width: 14px;
  height: 14px;
  top: 5px;
  right: 5px;
}

.header--icon-link-text svg {
  width: 18px;
  height: 18px;
}

.hamburger--toggler {
  grid-area: hamburger;
  background: transparent;
  display: none;
}

.hamburger--toggler-icon {
  width: 33px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.hamburger--toggler-icon .line {
  width: 26px;
  height: 2px;
  display: inline-block;
  background: var(--header_icon_color);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.header--logo+.header--navigation {
  grid-area: navigation;
}

.header--navigation-list {
  flex-wrap: wrap;
  align-items: center;
}

.header--wrapper:not(.half-width-menu) .header--navigation,
.header--wrapper:not(.half-width-menu) .header--navigation-inner,
.header--wrapper:not(.half-width-menu) .header--navigation-list {
  height: 100%;
}

.header--menu-item.has-children {
  position: relative;
}

.header--right .header--menu-item.has-children,
.header--menu-item.has-children.megamenu {
  position: static;
}

.header--menu-link {
  padding: 25px 10px;
  margin: 0 10px;
  color: var(--header_color);
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.header.header-height-small .header--menu-link {
  padding: 12px 10px;
}

.header.header-height-medium .header--menu-link {
  padding: 20px 10px;
}

.header--menu-link svg {
  transition: 0.3s ease;
}

.header--menu-item.has-children.active .header--menu-link svg {
  transform: rotate(180deg);
}

.header--right .menu-arrow {
  background: transparent;
  flex: 0 0 24px;
  height: 24px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: var(--header_color);
}

.header--right .menu-arrow:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--header_color);
  opacity: 0.1;
}

/* submenu css start here */

.header--menu-submenu {
  padding-top: 7px;
  width: max-content;
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out;
  max-width: 500px;
  border-radius: 0 0 10px 10px;
}

.header-megamenu .header--menu-submenu .header--menu-megamenu {
  border-top: 1px solid rgba(var(--header_border_color), 0.15);
}

.dropdown .menu-position-left.header--menu-submenu {
  left: unset;
  right: 0;
}

.header--menu-item.active .header--menu-submenu,
html.no-js .header--menu-item:focus-within>.header-megamenu .header--menu-submenu,
html.no-js .header--menu-item:focus-within>.header-dropdown .header--menu-submenu {
  pointer-events: all;
  visibility: visible;
  opacity: 1;
}

.header--menu-submenu-list {
  background: var(--submenu_background);
  color: var(--submenu_color);
  padding: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
  min-width: 230px;
  max-width: 230px;
  min-height: 200px;
  max-height: calc(90vh - var(--header_height));
  overflow: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 0px #00000040;
}

.header--menu-submenu-list:has(.header--menu-submenu-item.active) {
  border-radius: 10px 0 0 10px;
}

.menu-position-left .header--menu-submenu-list:has(.header--menu-submenu-item.active) {
  border-radius: 0 10px 10px 0;
}

.header--menu-submenu-list-inner {
  position: absolute;
  top: 7px;
  left: calc(100% - 1px);
  background-color: var(--submenu_background);
  overflow: auto;
  padding: 15px;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  width: max-content;
  min-width: 200px;
  max-width: 250px;
  min-height: calc(100% - 7px);
  max-height: calc(90vh - var(--header_height));
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  border-radius: 0 20px 20px 0;
  box-shadow: 0px 0px 2px 0px #00000040;
  transition: clip-path 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.menu-position-left .header--menu-submenu-list-inner {
  left: unset;
  right: 100%;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  border-radius: 10px 0 0 10px;
}

.header--menu-submenu-item.active .header--menu-submenu-list-inner,
.header--menu-submenu-item:focus-within>.header--menu-submenu-list-inner {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
  clip-path: polygon(101% 0, 0 0, 0 101%, 101% 101%);
}

.header--menu-submenu-list-inner:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 1px;
  margin-block: 20px;
  height: calc(100% - 20px * 2);
  background: var(--submenu_border);
}

.menu-position-left .header--menu-submenu-list-inner:before {
  left: unset;
  right: 0;
}

.header--menu-submenu-link {
  display: block;
  color: var(--submenu_color);
  padding: 10px 16px;
  border-radius: 8px;
  text-align: left;
  white-space: normal;
  transition: 0.3s ease;
}

.header--menu-submenu-link {
  transform: translateY(10px);
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.33, 0, 0, 1), opacity 0.5s cubic-bezier(0.33, 0, 0, 1);
  transition-delay: 200ms;
}

.header--menu-item.active .header--menu-submenu-link,
.header--menu-item:focus-within>.header-megamenu .header--menu-submenu-link,
.header--menu-item:focus-within>.header-dropdown .header--menu-submenu-link {
  transform: unset;
  opacity: 1;
}

.header--menu-submenu-link:has(.menu--icon) {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  align-items: center;
}

.header--menu-submenu-list-inner .header--menu-submenu-link {
  padding: 6px 10px;
}

.menu-position-left .menu--icon svg {
  transform: rotate(180deg);
}

.menu-position-left .header--menu-submenu-link>span:first-child {
  order: 2;
}

.header--menu-submenu.megamenu-container {
  width: 100%;
  max-width: 100%;
  padding: 0;
  visibility: visible;
  opacity: 1;
  /* box-shadow: 0px 14px 24px 0px #00000040; */
  /* top: 0;
    padding-block-start: var(--header_height);
    z-index: -1; */
}

.half-width-menu .header--menu-submenu.megamenu-container {
  z-index: -1;
  margin-top: -7px;
  z-index: 2;
  border-radius: var(--header_radius,8px);
}

.half-width-menu ul.header--menu-megamenu-inner {
  display: block;
  will-change: max-height;
  max-height: 0;
  overflow: hidden;
  transition: 0.7s ease-in-out all;
  transition-delay: 0.1s;
}

.half-width-menu .navmenu-option:hover ul.header--menu-megamenu-inner {
  max-height: 30rem;
  margin-bottom: 30px;
}

.half-width-menu .header--menu-megamenu-inner li:nth-child(1) {
  padding-top: 0;
}

.half-width-menu .header--menu-item .megamenu_style3 li a:before,
.half-width-menu .megamenu-main-heading:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0px;
  margin: auto;
  transition: 0.3s ease all;
  background: var(--submenu_hover_color);
  height: 100%;
  opacity: 0.5;
  z-index: -1;
  transform-origin: left;
  transform: scale(1);
}

.half-width-menu .header--menu-item.active .megamenu_style3 {
  margin-top: 0;
}

.half-width-menu .header--menu-item .megamenu_style3 li a {
  color: var(--submenu_color);
}

.half-width-menu .header--menu-megamenu-collection li a {
  font-size: var(--h5);
}


.half-width-menu .header--menu-item .megamenu_style3 .header--menu-megamenu-collection li a:hover:before,
.half-width-menu .navmenu-option:hover .megamenu-main-heading:before {
  width: 80%;
}

.half-width-menu .header--menu-megamenu {
  height: 100dvh;
  border-radius: 0 0 var(--header_radius,8px) var(--header_radius,8px);
  max-height: calc(100vh - 117px);
}
.header .custom-container .header--menu-item.active .header--menu-submenu .header--menu-megamenu{
  border-radius: 0 0 var(--header_radius,8px) var(--header_radius,8px);
 }
.half-width-menu .header--right:has(.megamenu.active),
.header:has(.header-megamenu.active),.desktop-transparent.header:has(.header-megamenu.active):before {
    border-radius: var(--header_radius,8px) var(--header_radius,8px) 0 0;
}
/* .desktop-transparent.header:not(.style-half-width-menu):has(.header-megamenu.active):before{
  opacity: 1;
}  */
/* ,
.half-width-menu .navmenu-option:hover .megamenu-main-heading:before  */
/* .half-width-menu .header--menu-megamenu-inner li a:before {
  width: 16px;
  top: 0;
  margin: auto;
  transform: scale(0);
  transform-origin: left;
} */
.half-width-menu .header--menu-item .header--menu-submenu .navmenu-option:nth-child(1) ul.header--menu-megamenu-inner {
  max-height: unset;
  margin-bottom: 30px;
}

.half-width-menu .header--menu-item .header--menu-submenu .navmenu-option {
  margin-bottom: 5px;
}

/* .half-width-menu .header--menu-item .megamenu_style3 li a:hover, */
.half-width-menu .header--menu-megamenu-inner li a:hover

/* ,
.half-width-menu .navmenu-option:hover .megamenu-main-heading */
  {
  transition: 0.3s ease all;
  /* padding-left: 20px; */
}

.half-width-menu .megamenu-main-heading {
  position: relative;
  z-index: -1;
}

.header--menu-megamenu {
  background: var(--submenu_background);
  color: var(--submenu_color);
  width: 100%;
  max-height: calc(90vh - var(--header_height));
  overflow: auto;
  border-radius: 0 0 20px 20px;
  clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
  transition: clip-path 0.2s cubic-bezier(0.33, 0, 0, 1);
  box-shadow: 0 10px 6px -5px #00000026;
}

.header--menu-megamenu-list {
  padding: 30px 40px;
}

.header--menu-megamenu-columns {
  display: grid;
  gap: 20px;
  padding: 40px 0 50px;
  text-align: left;
  grid-template-columns: repeat(var(--menu_column_count, 5), minmax(0, 1fr));
}

.header--menu-megamenu-columns.megamenu_style2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 0;
}

.header--menu-megamenu-column-left {
  flex: 0 0 60%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}

.header--menu-megamenu-column-right {
  flex: 0 0 40%;
}

.header--menu-megamenu-column-left+.header--menu-megamenu-column-right {
  padding-left: 30px;
}

.header--menu-megamenu-columns.megamenu_style2.menu-size-large .header--menu-megamenu-column-left {
  flex: 0 0 70%;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.header--menu-megamenu-columns.megamenu_style2.menu-size-large .header--menu-megamenu-column-right {
  flex: 0 0 30%;
}

.megamenu-main-heading {
  color: var(--submenu_color);
  display: inline-block;
  margin-bottom: 10px;
}

.half-width-menu .megamenu-main-heading {
  font-size: var(--h5);
}

.header--menu-megamenu-inner li {
  padding-top: 12px;
}

.half-width-menu .header--menu-megamenu-inner li+li {
  padding-top: 4px;
}

.header--menu-megamenu-inner li a,
.header--menu-megamenu-collection li a {
  display: inline-block;
  color: var(--submenu_color);
  text-align: left;
  transition: 0.2s ease;
  position: relative;
  white-space: normal;
}

.header--menu-megamenu-inner li a:before,
.header--menu-megamenu-collection li a:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background: var(--submenu_hover_color);
  transform: scale(0);
  transition: 0.3s ease;
}

.half-width-menu .header--menu-megamenu-content,
.navmenu-option,
.images-option {
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(10px);
  transition: transform 0.5s cubic-bezier(0.33, 0, 0, 1), opacity 0.5s cubic-bezier(0.33, 0, 0, 1);
  transition-delay: 300ms;
}

.half-width-menu .header--menu-item.active .header--menu-megamenu-content,
.header--menu-item.active .header--menu-submenu .navmenu-option,
.header--menu-item.active .header--menu-submenu .images-option {
  transform: unset;
  opacity: 1;
}

.header--menu-megamenu-column-right .images-option {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header--menu-megamenu-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  gap: 15px;
  margin-top: 20px;
}

.header--menu-megamenu-content.megamenu_style3 {
  grid-template-columns: 1fr;
}

.header--menu-megamenu-image {
  border-radius: var(--card_radius);
  overflow: hidden;
  display: block;
}

.header--menu-megamenu-column-right .header--menu-megamenu-image {
  height: 150px;
}

.header--menu-megamenu-image-content {
  position: absolute;
  width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  padding: 10px;
  text-align: center;
  transform: translate(-50%, -50%);
  overflow: auto;
}

.header--menu-megamenu-collection li+li {
  padding-top: 18px;
}

body:after {
  position: fixed;
  content: '';
  width: 100%;
  height: 100%;
  top: calc(var(--dynamic_announcement_height, 0px));
  left: 0;
  background: rgba(var(--page_overlay_background), var(--page_overlay_opacity));
  z-index: 1;
  transition: 0.6s cubic-bezier(0.7, 0, 0.2, 1);
  transition-property: opacity, visibility, background-color;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

body.megamenu-open:after {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.no-js-menu ul li {
  display: inline-block;
}

.no-js-menu ul li .header--menu-link {
  padding: 5px 10px;
}

html.js .no-js-menu {
  display: none;
}

html.no-js .header--navigation-main,
html.no-js .half-width-menu .header--right .header--navigation-main {
  display: none;
}   



@media (min-width: 1025px) {
  .header:not(.style-half-width-menu) .custom-container {
      padding-inline-start: 30px;
      padding-inline-end: 20px;
  }

  .header.border-true .custom-container .header--wrapper:not(.half-width-menu) .header--icons .header--icon-item:last-child {
    border-right: 0;
}
  /* desktop header style css start */
  .logo-left-menu-left,
  .logo-left-menu-center,
  .logo-left-menu-right {
    grid-template-areas: 'logo navigation icons';
  } 
  .header--wrapper {
    grid-template-columns: auto 1fr auto; 
    column-gap: 30px;
  }

  .logo-left-menu-center .header--navigation-list {
    justify-content: center;
    text-align: center;
  }

  .logo-left-menu-right .header--navigation-list {
    justify-content: flex-end;
    text-align: right;
  }

  .logo-center-menu-left {
    grid-template-areas: 'navigation logo icons';
    grid-template-columns: 1fr auto 1fr;
  }

  .logo-center-menu-left .header--right,
  .hamburger-menu-logo-center .header--right {
    margin-left: auto;
  }

  .hamburger-menu-logo-left,
  .hamburger-menu-logo-center {
    grid-template-areas: 'hamburger logo icons';
  }

  .hamburger-menu-logo-center {
    grid-template-columns: 1fr auto 1fr;
  }

  .half-width-menu {
    grid-template-areas: 'logo icons';
    grid-template-columns: auto 1fr;
  } 
   
  .header:has(.half-width-menu) {
    background: transparent;
    padding: 15px 0;
  }

  .half-width-menu .header--right {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background: var(--header_alternate_background);
    border-radius: var(--header_radius,8px);
    transition: 0.7s ease; 
    padding: 0 15px;
    gap: 10px;
    width: 100%;
    max-width: 700px;
    position: relative;
    box-shadow: 0 0 2px rgb(0 0 0 / 17%);
  }

  .header--wrapper:not(.half-width-menu) .header--icon-item {
    padding: 0 15px;
  }

  .header.header-height-small .header--wrapper:not(.half-width-menu) .header--icon-item {
    padding: 0 2px;
  }

  .header.header-height-medium .header--wrapper:not(.half-width-menu) .header--icon-item {
    padding: 0 5px;
  }

  .header.border-true .header--wrapper:not(.half-width-menu) .header--icon-item {
    border-right: 1px solid rgba(var(--header_border_color), .15);
  }

  .half-width-menu .header--right .header--navigation-main {
    display: flex;
    align-items: center;
    gap: 5px;
    max-width: 100%;
    overflow: visible;
    overflow: initial;
    overflow-x: auto;
    scrollbar-width: none;
  }

  .half-width-menu .header--right .header--navigation {
    overflow-x: auto;
    overflow-y: hidden;
  }

  .half-width-menu .header--right .header--navigation-inner {
    display: flex;
    align-self: stretch;
  }

  .half-width-menu .header--right .header--navigation-list {
    white-space: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    overflow: hidden;
  }

  /* desktop header style css end */
  /* desktop transparent css start */

  .desktop-transparent {
    background: rgb(var(--transparent_background), var(--transparent_opacity));
    position: absolute;
    z-index: 1;
    width: 100%; 
    top: var(--dynamic_announcement_height);
  }

  .sticky-scroll-up.desktop-transparent,
  .sticky-always.desktop-transparent {
    top: 0;
  }

  .header.desktop-transparent:hover:not(.style-half-width-menu):before,
  .header.desktop-transparent.is-sticky:not(.style-half-width-menu):before {
    opacity: 1;
  }

  .header:not(.is-sticky).desktop-transparent:not(:hover):before {
    transition-delay: 0.5s;
  }

  .header:not(.is-sticky).desktop-transparent:not(:hover) .header--menu-link,
  .header:not(.is-sticky).desktop-transparent:not(:hover) .header--logo-text,
  .header:not(.is-sticky).desktop-transparent:not(:hover) .header--icon-link-text,
  .header:not(.is-sticky).desktop-transparent:not(:hover) .header--right .menu-arrow {
    color: var(--transparent_color);
    transition-delay: 0.5s;
  }

  .header:not(.is-sticky).desktop-transparent:not(:hover) .header--right .menu-arrow:after,
  .header:not(.is-sticky).desktop-transparent:not(:hover) .hamburger--toggler-icon .line {
    background: var(--transparent_color);
  }

  .header:not(.is-sticky).desktop-transparent:not(:hover),
  .header:not(.is-sticky).desktop-transparent:not(:hover) .header--icon-item {
    border-color: rgba(var(--transparent_border_color), 0.15);
  }

  .header:not(.is-sticky).desktop-transparent:not(:hover) .half-width-menu .header--right {
    background: rgb(var(--transparent_background), var(--transparent_opacity));
  }

  .header:not(.is-sticky).desktop-transparent:not(:hover) .header--logo-img {
    opacity: 0;
    transition-delay: 0.5s;
  }

  .header:not(.is-sticky).desktop-transparent:not(:hover) .transparent-logo-img {
    opacity: 1;
    transition-delay: 0.5s;
  }

  [class*="container"]:has(.desktop-transparent){
    position: relative;
    
  }

  [class*="container"]:not(.no-container) .desktop-transparent {
    width: calc(100% - 30px);
  }

  .container-narrow .desktop-transparent{
    width: calc(100% - 48px) !important;
  }
  
  .container-fullwidth .desktop-transparent {
    width: calc(100% - 4rem) !important;
  }
  /* desktop transparent css end */
  .mobile--side-drawer {
    display: none !important;
  }

  .header--menu-link:hover {
    color: var(--header_hover_color);
  }

  .header--icon-link-text:hover:after {
    opacity: 0.2;
  }

  .hamburger--toggler.hamburger-icon {
    display: block;
  }

  .hamburger--toggler-icon:hover .line-1 {
    width: 16px;
  }

  .hamburger--toggler-icon:hover .line-2 {
    width: 20px;
  }

  .hamburger--toggler-icon:hover .line-3 {
    width: 10px;
  }

  .header--menu-submenu-item.active>.header--menu-submenu-link,
  .header--menu-submenu-item:hover>.header--menu-submenu-link {
    background: var(--submenu_border);
  }

  .header--menu-submenu-item:hover>.header--menu-submenu-link,
  .header--menu-submenu-item.active>.header--menu-submenu-link {
    color: var(--submenu_hover_color);
  }

  .header--menu-megamenu-inner li a:hover,
  .header--menu-megamenu-collection li a:hover {
    color: var(--submenu_hover_color);
  }

  .header--menu-megamenu-inner li a:hover:before,
  .header--menu-megamenu-collection li a:hover:before {
    transform: scale(1);
  }

  .half-width-menu .header--menu-megamenu-inner li a {
    background-image: linear-gradient(transparent calc(100% - 1px), currentColor 1px);
    background-size: 0 100%;
    transition: 0.35s background-size cubic-bezier(0.215, 0.61, 0.355, 1);
    background-position-x: 100%;
    background-repeat: no-repeat;
  }

  .half-width-menu .header--menu-megamenu-inner li a:hover {
    color: var(--submenu_color);
    background-size: 100% 100%;
    background-position-x: 0;
  }

  .half-width-menu .header--menu-megamenu-inner li a::before {
    content: none;
  }

  /* side drawer in header */
  .header--wrapper .side-drawer {
    position: absolute;
    top: 100%;
    bottom: unset;
    height: auto;
    max-width: 700px;
    left: unset;
    right: 0;
    z-index: -1;
    border-radius: 0;
    border-bottom-left-radius: var(--card_radius);
    border-bottom-right-radius: var(--card_radius);
    transition: 0.3s ease;
  }

  .header--wrapper.half-width-menu .side-drawer.account--side-drawer {
    max-width: 700px;
  }

  .header--wrapper .side-drawer.account--side-drawer {
    max-width: 450px;
  }

  .header--wrapper .side-drawer.shadow {
    box-shadow: 0px 14px 24px 0px #00000040;
  }

  .header--wrapper .header--right:has(.side-drawer.show) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .header--wrapper .side--drawer-inner {
    border-radius: 0;
    border-bottom-left-radius: var(--card_radius);
    border-bottom-right-radius: var(--card_radius);
    max-height: 80vh;
  }

  .header--wrapper .side--drawer-panel {
    position: relative;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 0;
    max-height: 100%;
    max-width: unset;
    transform: translateY(-100%);
    height: 100%;
  }

  .header.header-height-small .header--wrapper:not(.half-width-menu) .header--icon-item .header--icon-link-text {
    width: 30px;
    height: 30px;
  }

  .header.header-height-small .header--wrapper:not(.half-width-menu) .header--icon-item .header--icon-link-text svg {
    width: 16px;
    height: 16px;
  }
}

@media (min-width: 1200px){
  .container-fullwidth .desktop-transparent {
    width: calc(100% - 8rem) !important;
  }
}
@media (min-width: 1441px) {
  .container-fullwidth .desktop-transparent {
    width: calc(100% - 14rem)!important;
  }
}
@media (max-width: 1024px) {

  /* mobile header style css start */
  .header--wrapper {
    align-items: center;
  }

  .hamburger--toggler.mobile-toggler {
    display: block;
  }

  .transparent-logo-img {
    object-position: center;
  }

  .header--logo {
    justify-content: center;
  }

  .header--navigation-main,
  .header--icon-item.account {
    display: none;
  }

  .header--icon-link-text svg {
    width: 24px;
    height: 24px;
  }

  /* mobile header style css end */
  /* mobile transparent css start */

  .mobile-transparent {
    background: rgb(var(--transparent_background), var(--transparent_opacity));
    position: absolute;
    z-index: 1;
    width: 100%;
    top: var(--dynamic_announcement_height);
  }

  .sticky-scroll-up.mobile-transparent,
  .sticky-always.mobile-transparent {
    top: 0;
  }

  .header.mobile-transparent:hover:before,
  .header.mobile-transparent.is-sticky:before {
    opacity: 1;
  }

  .header:not(.is-sticky).mobile-transparent:not(:hover) .header--menu-link,
  .header:not(.is-sticky).mobile-transparent:not(:hover) .header--logo-text,
  .header:not(.is-sticky).mobile-transparent:not(:hover) .header--icon-link-text {
    color: var(--transparent_color);
  }

  .header:not(.is-sticky).mobile-transparent:not(:hover) .hamburger--toggler-icon .line {
    background: var(--transparent_color);
  }

  .header:not(.is-sticky).mobile-transparent:not(:hover),
  .header:not(.is-sticky).mobile-transparent:not(:hover) .header--icon-item {
    border-color: rgba(var(--transparent_border_color), 0.15);
  }

  .header:not(.is-sticky).mobile-transparent:not(:hover) .header--logo-img {
    opacity: 0;
  }

  .header:not(.is-sticky).mobile-transparent:not(:hover) .transparent-logo-img {
    opacity: 1;
  }
  [class*="container"]:not(.no-container) .mobile-transparent {
      width: calc(100% - 30px);
  }
  /* mobile transparent css end */
  /* mobile menus css start */
  .mobile--side-drawer .side--drawer-body {
    padding: 0;
  }

  .mobile--side-drawer .side--drawer-header {
    grid-template-columns: auto;
    justify-content: flex-end;
    padding-bottom: 0;
  }

  .mobile--side-drawer-content {
    display: grid;
    grid-template-rows: 1fr auto auto;
  }

  .mobile-menu--box {
    overflow: auto;
  }

  .mobile-menu--item {
    padding: 0px 40px;
  }

  .mobile-menu--link {
    padding: 10px 0;
    transition: transform 0.7s cubic-bezier(0.3, 1, 0.3, 1);
    display: flex;
    justify-content: space-between;
    gap: 10px;
    color: var(--heading_color);
  }

  .mobile-menu--link svg {
    width: 8px;
    height: auto;
  }

  .mobile-menu--submenu {
    background-color: var(--body_background);
    left: 100%;
    z-index: 2;
    display: grid;
    grid-template-rows: auto 1fr;
    transition: left 0.7s cubic-bezier(0.3, 1, 0.3, 1);
  }

  .mobile-menu--item.active>.mobile-menu--submenu {
    left: 0;
  }

  .mobile-menu--submenu-list {
    height: 100%;
    overflow: auto;
    padding-bottom: 20px;
  }

  .mobile-menu--back {
    display: flex;
    gap: 10px;
    align-items: center;
    background: transparent;
    border-bottom: 1px solid var(--border_color);
    padding: 15px;
    margin-bottom: 15px;
  }

  .mobile--menu-footer {
    display: grid;
    align-items: center;
    padding: 20px 30px;
    gap: 20px;
    grid-template-columns: auto 1fr;
  }

  .mobile--menu-footer-top {
    padding: 30px;
    padding-bottom: 0;
  }

  .mobile-menu--submenu .header--menu-megamenu-collection li {
    background: var(--body_alternate_background);
    padding: 15px 15px;
    border-radius: 10px;
  }

  .mobile-menu--submenu .header--menu-megamenu-collection li a {
    font-size: var(--large_text);
  }

  .mobile-menu--submenu .header--menu-megamenu-collection li+li {
    margin-top: 10px;
  }

  /* mobile menus css end */
   .header .custom-container {
      padding-inline-start: 15px;padding-inline-end: 10px; 
  }  
}

@media (max-width: 767px) {
  .mobile-menu--item {
    padding: 0px 30px;
  }
}