.top-filter-bar {
  display: none;
  gap: 20px;
  margin-bottom: 50px;
  transition: 0.4s ease;
}

.horizontal-filters-bar {
  display: grid;
  align-items: center;
  gap: 20px;
  grid-template-columns: auto 1fr auto;
}

.horizontal-filters--options {
  /* width: 100%;
    max-width: 100%; */
  margin: 0 auto;
}

.horizontal-filters--main {
  display: flex;
  align-items: center;
  gap: 5px;
  max-width: 100%;
  overflow: visible;
  overflow: initial;
  /* overflow-x: auto; */
  position: relative;
  scrollbar-width: none;
  background: var(--body_alternate_background);
  border-radius: 16px;
  border: 1px solid var(--border_color);
}

.horizontal-filters--main-inner {
  overflow-x: auto;
  overflow-y: hidden;
}

.horizontal-filters--main-list {
  display: flex;
  align-self: stretch;
}

.horizontal-filters--list {
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  padding: 20px 15px;
  width: 100%;
  margin: 0 auto;
  min-width: 400px;
}

.horizontal-filters--list-item {
  padding: 8px 14px;
  border-radius: 50px;
  margin: auto;
}

.horizontal-filters--list-item.active {
  background: var(--body_background);
}

.horizontal-filters--button {
  display: flex;
  gap: 6px;
  align-items: center;
  background: transparent;
}

.total-products-count,
.horizontal-sortby {
  flex: 1 0 0;
  min-width: max-content;
}

.horizontal-sortby {
  margin-left: auto;
  justify-content: flex-end;
  gap: 10px;
  display: flex;
  position: relative;
  border: 1px solid var(--border_color);
   background: var(--body_alternate_background);
  padding: 15px;
  border-radius: 10px;
}

.horizontal-filters--content {
  position: absolute;
  background: var(--body_alternate_background);
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, .14); */
  border: 1px solid var(--border_color);
  border-radius: 10px;
  /* left: 50%; */
  top: 100%;
  margin-top: -1px;
  z-index: 1;
  display: none;
  max-height: 300px;
  overflow: auto;
  /* transform: translateX(-50%); */
}

.horizontal-filters--list-item .horizontal-filters--content {
  max-height: 170px;
}

.horizontal-filters--content-list {
  display: grid;
  grid-template-columns: repeat(var(--column-count, 1), 1fr);
  padding: 20px;
  gap: 30px;
}

.horizontal-sortby-button {
  background: transparent;
  border: 1px solid var(--border-color);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 10px;
}
.horizontal-sortby-button svg {
    width: 10px;
    height: auto;
    margin-top: -2px;
}
.horizontal-sortby .horizontal-filters--content {
  width: max-content;
  left: unset;
  right: 0;
  padding: 15px 20px;
}

.horizontal-filters--content .price-inputs {
  gap: 10px;
}

.horizontal-filters--content .price-input-field {
  width: 130px;
}

.horizontal-filters--content-list .filter-option-item:last-child {
  margin-bottom: 0;
}

.horizontal-filters--content-list ul {
  min-width: 150px;
}

sticky-filter-button.sticky-filter-button-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: .6s cubic-bezier(0.65, 0.05, 0.36, 1) all;

}

sticky-filter-button.sticky-filter-button-wrapper.fade-in-sticky {
  position: fixed;
  top: 150px;
  z-index: 2;
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}



.button.filter-toggle-button {
  cursor: pointer;
}




/* 23-10-2024 */
/* sticky filter button */

.sticky-filter-button-wrapper {
  position: relative;
  display: inline-block;
}

.sticky-filter-button-wrapper .button.filter-toggle-button {
  position: relative;
  z-index: 1;
  margin: 4px;
  min-height: 40px;
}

.sticky-filter-button-wrapper .filter-toggle-button svg {
  margin: 0;
  width: 20px;
  height: auto;
}

.sticky-filter-button-wrapper .sticky-horizontal-filter {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  /* clip-path: inset(0px calc(100% - 140px - .5rem) 0px 0px round 3.5rem); */
  width: 128px;
  transition: 0.4s ease all;
  /* overflow-x: hidden; */
  /* padding-left: 10.5rem;
  padding-right: 1.5rem; */
  /* align-items: center;
  justify-content: space-between;
   */
  display: flex;
  flex-wrap: wrap;
  column-gap: 0rem;
  background: var(--body_alternate_background);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: var(--button_radius);
  /* overflow-x: hidden; */
}

.sticky-filter-button-wrapper .sticky-horizontal-filter.open {
  /* clip-path: inset(0px round 3.5rem); */
  overflow-x: visible;
  width: auto;
}

.sticky-filter-button-wrapper .sticky-top-filter-bar {
  /* margin-left: auto;
  margin-right: 0; */
  padding-left: 135px;
}

.sticky-filter-button-wrapper .sticky-horizontal-filter .horizontal-filters--main {
  border: none;
  background: none;
  border-radius: none;
}

.sticky-filter-button-wrapper .sticky-top-filter-bar button.filter-arrow.right {
  right: 16px;
}

.sticky-filter-button-wrapper .sticky-top-filter-bar .filter-arrow.left {
  left: 16px;
}

.sticky-filter-button-wrapper .sticky-horizontal-filter.open .horizontal-filters-bar {
  opacity: 1;
  transform: scale(1);
}

.sticky-filter-button-wrapper .horizontal-filters-bar {
  display: block;
  opacity: 0;
  transition: .4s ease all;
  transform: scale(0);
  transform-origin: left;
}

.horizontal-filters--content-list .variant--item {
    height: 38px;
    min-width: 40px;
}

@media (min-width: 768px) {
  body.megamenu-open .filter-layout-horizontal .top-filter-bar {
    pointer-events: none;
  }

  .filter-layout-horizontal .top-filter-bar {
    display: grid;
    padding: 10px 0;
    margin-bottom: 40px;
  }

  .filter-layout-horizontal:not(.horizontal-bottom) .top-filter-bar.is-sticky {
    position: sticky;
    top: calc(var(--dynamic_header_height, 0px) + var(--dynamic_announcement_height, 0px));
    left: 0;
    right: 0;
    z-index: 2;
    background: var(--body_background);
    box-shadow: 0 14px 14px -14px #00000029;
  }

  .horizontal-filters--list {
    white-space: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
  }

  .horizontal-filters--options .horizontal-filters--main-list {
    max-width: 700px;
  }

  .filter-arrow {
    min-width: 24px;
    max-width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text_color);
    border: 1px solid var(--border_color);
    border-radius: 100%;
    position: absolute;
  }

  .filter-arrow.left {
    left: -12px;
  }

  .filter-arrow.right {
    right: -12px;
  }

  /* .filter-layout-horizontal.horizontal-bottom .horizontal-filters--options {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    margin: 0 auto;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .filter-layout-horizontal.horizontal-bottom .horizontal-filters--options .horizontal-filters--main {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0 0 26px #0000002e;
  }

  .filter-layout-horizontal.horizontal-bottom .horizontal-filters--options .horizontal-filters--content {
    top: auto;
    bottom: 100%;
  }  
 */

  /* --- horizontal-filter-sticky-bottom --*/

  /* .main-collection--wrapper.filter-layout-horizontal.horizontal-bottom {
    display: grid;
  }
  .main-collection--wrapper.filter-layout-horizontal.horizontal-bottom .top-filter-bar {
    order: 3;
    margin: 0;
    position: sticky;
    bottom: 0;
    z-index: 99;
    background: #fff;
    box-shadow: 0 -14px 14px -14px #00000029;
  } */
}

@media (min-width: 1025px) {
  .horizontal-filters--options .horizontal-filters--main-list {
    max-width: 580px;
  }
}


@media (min-width: 1200px) {
  .horizontal-filters--list {
    gap: 20px;
    padding: 10px 20px;
  }

  .horizontal-filters--options .horizontal-filters--main-list {
    max-width: 700px;
  }

  .horizontal-filters--content-list ul {
    min-width: 180px;
  }
}

@media (min-width: 1441px) {

  .horizontal-filters--options,
  .horizontal-filters--options .horizontal-filters--main-list {
    max-width: 800px;
  }
}

@media (min-width: 1741px) {

  .container-fullwidth .horizontal-filters--options,
  .container-fullwidth .horizontal-filters--options .horizontal-filters--main-list {
    max-width: 1150px;
  }
}

@media (max-width: 1024px) {
  .total-products-count {
    grid-area: 2;
  }

  .horizontal-sortby {
    grid-area: 2;
  }

  .horizontal-filters--options {
    grid-area: 1 / span 2;
  }
}

@media (max-width: 1024px) {
  sticky-filter-button.sticky-filter-button-wrapper.fade-in-sticky {
    display: none;
  }
}