.image-with-text--outer {
    overflow: hidden;
    border-radius: var(--card_radius);
}

.content-background-enabled .image-with-text--content {
    background: var(--body_alternate_background);
}

.image-with-text--wrapper:not(.adapt-to-align) {
    align-items: var(--content_position);
    justify-content: var(--content_position);
}

.image-with-text--heading {
    padding-bottom: 20px;
}

.image-with-text--desc,
.image-with-text--button {
    padding-bottom: 30px;
}


.image-with-text--desc.text-xsmall p,
.image-with-text--desc.text-xsmall p *,
.image-with-text--desc.text-xsmall li,
.image-with-text--desc.text-xsmall a {
    font-size: var(--xsmall_text);
}

.image-with-text--desc.text-small p,
.image-with-text--desc.text-small p *,
.image-with-text--desc.text-small li,
.image-with-text--desc.text-small a {
    font-size: var(--small_text);
}

.image-with-text--desc.text p,
.image-with-text--desc.text p *,
.image-with-text--desc.text li,
.image-with-text--desc.text a {
    font-size: var(--text);
}

.image-with-text--desc.text-medium p,
.image-with-text--desc.text-medium p *,
.image-with-text--desc.text-medium li,
.image-with-text--desc.text-medium a {
    font-size: var(--medium_text);
}

.image-with-text--desc.text-large p,
.image-with-text--desc.text-large p *,
.image-with-text--desc.text-large li,
.image-with-text--desc.text-large a {
    font-size: var(--large_text);
}

.image-with-text--desc.text-xlarge p,
.image-with-text--desc.text-xlarge p *,
.image-with-text--desc.text-xlarge li,
.image-with-text--desc.text-xlarge a {
    font-size: var(--xlarge_text);
}

.image-with-text--image {
    border-radius: var(--card_radius);
}

.image-with-text--content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: var(--content_position);
    text-align: var(--text_alignment);
}


@media screen and (min-width:768px) {
    .section-image-with-text {
        --media_height: 100%;
    }

    .image--position-right {
        flex-direction: row-reverse;
    }

    .image-with-text--content {
        padding: 0px 30px;
    }

    .content-background-enabled .image-with-text--content.small-padding {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .content-background-enabled .image-with-text--content.medium-padding {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .content-background-enabled .image-with-text--content.large-padding {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .image--position-left.content-background-enabled .image-with-text--image {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .image--position-right.content-background-enabled .image-with-text--image {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

    .image--position-left.content-background-enabled .image-with-text--content {
        border-radius: 0 var(--card_radius) var(--card_radius) 0;
    }

    .image--position-right.content-background-enabled .image-with-text--content {
        border-radius: var(--card_radius) 0 0 var(--card_radius);
    }
}

@media screen and (min-width: 1025px) {

    .image-with-text--content {
        padding-left: 40px;
        padding-right: 40px;
    }
    .content-background-enabled .image-with-text--content.medium-padding {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
    .content-background-enabled .image-with-text--content.large-padding {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
}

@media screen and (min-width:1441px) {
    .image-with-text--content {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media (max-width:767px) {
    .image-with-text--content {
        padding-top: 15px;
    }

    .content-background-enabled .image-with-text--content.small-padding {
        padding: 25px;
    }

    .content-background-enabled .image-with-text--content.medium-padding {
        padding: 35px 25px;
    }

    .content-background-enabled .image-with-text--content.large-padding {
        padding: 40px 25px;
    }

    .image-with-text--heading {
        padding-bottom: 10px;
    }
    
    .image-with-text--desc,
    .image-with-text--button {
        padding-bottom: 20px;
    }

    .content-background-enabled .image-with-text--image {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}