html.no-js .images-with-text-carousel--item {
    position: relative !important;
}

.images-with-text-carousel--main {
    overflow: hidden;
}

.images-with-text-carousel--wrapper { 
    position: relative;
}

.images-with-text-carousel--wrapper.clipped-fixed {
    left: 0px;
    top: 0px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.images-with-text-carousel--item {
    background: var(--body_background); 
}


.images-with-text-carousel--item-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

.images-with-text-carousel--marquee-content {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.images-with-text-carousel--marquee-item {
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: text-marque;
    animation-duration: var(--marquee_speed);
    padding-right: var(--marquee_gap);
}

.images-with-text-carousel--marquee-content.ltr-direction .images-with-text-carousel--marquee-item {
    animation-direction: reverse;
}

.images-with-text-carousel--marquee-item .marquee-text {
    font-size: var(--marque_text_size);
}

@keyframes text-marque {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        visibility: visible;
    }

    100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}

.images-with-text-carousel--item-right {
    --media_height: 400px;
    height: var(--media_height);
}

@media (min-width:768px) {
    .images-with-text-carousel--item-inner {
        display: flex;
        flex-direction: row-reverse;
    }

    .images-with-text-carousel--item-left {
        flex: 0 0 50%;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .images-with-text-carousel--item-right {
        flex: 1 1 auto; 
        --media_height: 100%;
    }

    .images-with-text-carousel--item-content {
        margin-top: auto;
        margin-bottom: auto;
    }
    .images-with-text-carousel--item.clipped {
        top: 0;
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 150% 100%);
        -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 150% 100%);
    }

    .images-with-text-carousel--wrapper {
        height: 100vh; 
    }    
    .images-with-text-carousel--item {  
        width: 100%;
        height: 100%;
        inset: 0;
        position: absolute;
        transition: background .5s ease;
        z-index: 2;
    }
}

@media (min-width:1200px) {
    .images-with-text-carousel--item-left {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .images-with-text-carousel--item-left {
        flex: 0 0 45%;
    }
}

@media (max-width:767px) {
    .images-with-text-carousel--item-left {
        padding: 30px;
    }
    .images-with-text-carousel--item-right {
        --media_height: 300px; 
    } 
     .images-with-text-carousel--wrapper {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: minmax(80%, 1fr);
        grid-template-columns: repeat(auto-fill, minmax(80%, 1fr));
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 10px;
        justify-content: flex-start;
        padding-top: 20px;
        padding-bottom: 10px;
        padding-right: 15px;
    }
}