.main-blog--items-wrapper {
    display: grid;
    column-gap: 30px;
    row-gap: 60px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.main-article--content-header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--border_color);
}

.main-article--body.rte p,
.main-article--body.rte li {
    margin: 15px 0;
}

.main-article--body.rte img {
    border-radius: var(--card_radius);
}

.main-article--body.rte blockquote {
    position: relative;
    padding-top: 50px;
    border: 0;
    padding-left: 0;
    margin: 0;
    text-align: center;
}

.main-article--body.rte blockquote:before {
    content: "";
    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 54 54'%3E%3Cpath d='M41.625 47.25a12.375 12.375 0 1 0 0-24.75c-.357 0-.706.024-1.055.054a35.775 35.775 0 0 1 5.384-15.208A1.126 1.126 0 0 0 45 5.625h-2.25a1.125 1.125 0 0 0-.816.35c-5.785 6.086-12.684 16.04-12.684 28.9A12.39 12.39 0 0 0 41.625 47.25Zm-29.25 0a12.375 12.375 0 1 0 0-24.75c-.357 0-.707.024-1.055.054a35.775 35.775 0 0 1 5.384-15.208 1.126 1.126 0 0 0-.954-1.721H13.5a1.125 1.125 0 0 0-.816.35C6.9 12.06 0 22.015 0 34.875A12.39 12.39 0 0 0 12.375 47.25Z' fill='currentColor'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 54 54'%3E%3Cpath d='M41.625 47.25a12.375 12.375 0 1 0 0-24.75c-.357 0-.706.024-1.055.054a35.775 35.775 0 0 1 5.384-15.208A1.126 1.126 0 0 0 45 5.625h-2.25a1.125 1.125 0 0 0-.816.35c-5.785 6.086-12.684 16.04-12.684 28.9A12.39 12.39 0 0 0 41.625 47.25Zm-29.25 0a12.375 12.375 0 1 0 0-24.75c-.357 0-.707.024-1.055.054a35.775 35.775 0 0 1 5.384-15.208 1.126 1.126 0 0 0-.954-1.721H13.5a1.125 1.125 0 0 0-.816.35C6.9 12.06 0 22.015 0 34.875A12.39 12.39 0 0 0 12.375 47.25Z' fill='currentColor'/%3E%3C/svg%3E");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 40px 40px;
    mask-size: 40px 40px;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 50%;
    transform: translate(calc(-50% * var(--transform-logical)));
    width: 40px;
    height: 40px;
    background-color: currentColor;
}

.main-article--body,
.main-article--form-body {
    padding-top: 50px;
}

.main-article--comment-item {
    padding: 32px;
    background: #ffffff;
    border-radius: calc(var(--card_radius) / 2);
    border: 1px solid #ccc;
}

.main-article--comment-item+.main-article--comment-item {
    margin-top: 20px;
}

.main-article--comment-content {
    padding-bottom: 10px;
}

.main-article--comment-content p {
    font-size: var(--text_medium);
}

.main-article--form-box {
    background: var(--body_alternate_background);
    padding: 50px;
    border-radius: var(--card_radius);
    margin-top: 50px;
}

.main-article--form-heading {
    padding-bottom: 20px;
}

.main-article--form-heading-small {
    opacity: 0.5;
    font-weight: normal;
}

.main-article--related {
    padding-top: 50px;
}

@media (min-width: 1200px) {
    .main-article--content {
        max-width: 85%;
        margin: 0 auto
    }
}

@media (max-width: 991px) {
    .main-blog--items-wrapper {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .main-article--content-header {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .main-article--form-box {
        padding: 30px;
    }
    .main-article--comment-item {
        padding: 20px;
    }
}

@media (max-width: 767px) {
    .main-blog--items-wrapper {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        row-gap: 30px;
    }
    .main-blog--items-wrapper.mobile-swipe {
        grid-auto-flow: column;
        grid-auto-columns: minmax(75%, 1fr);
        grid-template-columns: repeat(auto-fill, minmax(75%, 1fr));
        overflow-x: auto;
        justify-content: flex-start;
        scroll-snap-type: x mandatory;
        padding-bottom: 10px;
    }
    .main-blog--items-wrapper.mobile-swipe .blog--item {
        scroll-snap-align: center;
        scroll-snap-stop: always;
    }
    .main-article--form-box {
        padding: 20px;
    }
    .main-article--comment-item {
        padding: 15px;
    }
    .main-article--comment-item+.main-article--comment-item {
        margin-top: 10px;
    }
    .main-article--related {
        padding-top: 30px;
    }
}