.section-marquee .section-wrapper {
  overflow: hidden;
}

.marquee--block-node {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  justify-content: center;
  transform: rotate(var(--rotate));
  background: var(--node_background);
  padding-top: var(--top_spacing);
  padding-bottom: var(--bottom_spacing);
  overflow: hidden;
  transform-origin: center;
} 

.marquee--block {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  align-items: center;
  column-gap: var(--marquee_gap);
  padding-right: var(--horizontal_space);
}

.autoplay--infinite .marquee--block {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: text-marque;
  animation-duration: var(--marquee_speed);
}

.rtl-direction .marquee--block {
  animation-direction: normal;
}

.ltr-direction .marquee--block {
  animation-direction: reverse;
}

.marquee-text {
  font-size: var(--marque_text_size);
  color: var(--node_color);
}

.marquee--block-item.icon-item,
.marquee--block-item.image-item {
  display: flex;
  align-items: center;
}

.marquee--block-item.icon-item {
  width: var(--marque_text_size);
  color: var(--marquee_icon_color);
}

.marquee--block-item.image-item {
  width: var(--image_width, 30px);
  border-radius: var(--card_radius);
  overflow: hidden;
}

.marquee--block-item.icon-item svg,
.marquee--block-item.image-item img {
  width: 100%;
  height: auto;
  fill: currentColor;
}

.marquee--block-node-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
   
@keyframes text-marque {
  0% {
    transform: translateX(0);
    visibility: visible;
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (min-width: 1025px) {
  .marquee--block-node .outline--filled:hover {
    background-size: 100%;
  }
}
