.media-gallery--wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 25px;
}

.media-gallery--wrapper.default-style {
    padding-top: 10px;
}

.media-gallery--item {
    padding: 0 calc(var(--column_gap) / 2);
    margin-bottom: 10px;
}

.media-gallery--item-inner {
    border-radius: var(--card_radius);
    transition: .2s ease;
    overflow: hidden;
}

.media-gallery--image {
    border-radius: var(--card_radius);
    transition: .3s ease;
}

.media-gallery--wrapper.tilt-style .media-gallery--item:nth-child(1) .media-gallery--item-inner,
.media-gallery--wrapper.scroll-tilt-style .media-gallery--item:nth-child(1) .media-gallery--item-inner {
    transform: rotate(-7deg);
}

.media-gallery--wrapper.tilt-style .media-gallery--item:nth-child(2) .media-gallery--item-inner,
.media-gallery--wrapper.scroll-tilt-style .media-gallery--item:nth-child(2) .media-gallery--item-inner {
    transform: rotate(6deg);
}

.media-gallery--wrapper.tilt-style .media-gallery--item:nth-child(3) .media-gallery--item-inner,
.media-gallery--wrapper.scroll-tilt-style .media-gallery--item:nth-child(3) .media-gallery--item-inner {
    transform: rotate(-11deg);
}

.media-gallery--wrapper.tilt-style .media-gallery--item:nth-child(4) .media-gallery--item-inner,
.media-gallery--wrapper.scroll-tilt-style .media-gallery--item:nth-child(4) .media-gallery--item-inner {
    transform: rotate(7deg);
}

.media-gallery--wrapper.tilt-style .media-gallery--item:nth-child(5) .media-gallery--item-inner,
.media-gallery--wrapper.scroll-tilt-style .media-gallery--item:nth-child(5) .media-gallery--item-inner {
    transform: rotate(-7deg);
}

.section-in-view .media-gallery--wrapper.scroll-tilt-style .media-gallery--item .media-gallery--item-inner {
    transform: unset !important;
}

.media-gallery--image .horizontal--product-card {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    gap: 10px;
    padding: 5px 15px 5px 5px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.media-gallery--image .horizontal--product-image {
    width: 60px;
}

.horizontal--product-detail {
    padding-top: 5px;
}

.media-gallery--image .product--title,
.media-gallery--image .product--pricing span {
    font-size: var(--small_text);
}

.media-gallery--video-controls {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    background: var(--body_background);
    border-radius: 50px;
    box-shadow: 1px 2px 7px #0000001c;
}

.media-gallery--icon-pause,
.media-gallery--icon-play {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.media-gallery--video-controls svg {
    width: 8px;
    height: 8px;
    display: block;
}

.media-gallery--text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    color: var(--image_overlay_heading) !important;
    opacity: 0;
    visibility: hidden;
    padding-top: 10px;
    transition: .4s ease;
}

.media-gallery-content-show .media-gallery--text {
    opacity: 1;
    visibility: visible;
    padding: 0;
}

.media-gallery-content-show .horizontal--product-card {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

@media (min-width:768px) {
    .media-gallery--item {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width:1025px) {
    .media-gallery--wrapper.animated-border .media-gallery--item:hover .media-gallery--item-inner {
        background: var(--animating_border_color, linear-gradient(90deg, #ff8038, #f09 30.43%, #002beb 68.23%, #db00ff));
        z-index: 1;
        position: relative;
        animation: AnimateBorder 6s ease infinite;
        background-size: 500% 500%;
    }

    @keyframes AnimateBorder {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    .media-gallery--wrapper.animated-border .media-gallery--item:hover .media-gallery--item-inner {
        padding: 5px;
    }

    .media-gallery--item:hover .media-gallery--item-inner {
        transform: unset !important;
    }

    .media-gallery--item-inner .horizontal--product-card {
        transition: .4s ease;
    }

    .media-gallery--item-inner:hover .horizontal--product-card {
        transform: translateY(-10px);
    }

    .media-gallery--image>.media:after {
        content: "";
        background: rgb(var(--image_overlay_background));
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .4s ease;
    }

    .media-gallery--item-inner:hover .media-gallery--image>.media:after {
        opacity: 0.4;
        visibility: visible;
    }

    .media-gallery-text-visibility-on-hover .media-gallery--item-inner:hover .media-gallery--text {
        opacity: 1;
        visibility: visible;
        padding: 0;
    }

    .media-gallery-text-visibility-on-hover .media-gallery--item-inner:hover .horizontal--product-card {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

}

@media (max-width:767px) {
    .media-gallery-text-visibility-on-hover .media-gallery--text {
        opacity: 1;
        visibility: visible;
        padding: 0;
    }

    .media-gallery-text-visibility-on-hover .horizontal--product-card {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    .media-gallery--wrapper {
        padding-top: 20px;
    }

    .media-gallery--wrapper.mobile-swipe {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: minmax(80%, 1fr);
        grid-template-columns: repeat(auto-fill, minmax(80%, 1fr));
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 10px;
        justify-content: flex-start;
        padding-top: 20px;
        padding-bottom: 10px;
        padding-right: 15px;
    }

    .media-gallery--item {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }

    .media-gallery--wrapper.tilt-style.mobile-swipe .media-gallery--item-inner {
        transform: none !important;
    }

    .media-gallery--wrapper.mobile-swipe .media-gallery--item,
    .media-gallery--wrapper.mobile-swipe .media-gallery--item .media-gallery--image {
        max-width: 100%;
    }

    .media-gallery--wrapper.mobile-swipe .media-gallery--item {
        padding: 0;
    }
}

@media (max-width:575px) {
    .media-gallery--item {
        flex: 0 0 50%;
        max-width: 50%;
    }
}