.multiboxes--wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
    align-items: flex-start;
}

.multiboxes--item {
    z-index: 1;
    flex: 0 0 25%;
    border-radius: var(--card_radius);
    overflow: hidden;
    transition: .3s ease;
    display: grid;
    align-items: flex-start;
}

.multiboxes--item:has(.media-adapt-content) {
    align-items: unset;
}

.multiboxes--content-inner {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    height: 100%;
    max-width: 95%;
    margin: 0 auto;
    align-items: flex-start;
    text-align: left;
    transition: .3s ease;
}

.multiboxes--content-inner-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.multiboxes--count {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: var(--heading_color);
    -webkit-text-stroke-width: 1px;
    margin-top: auto;
    margin-left: auto;
    line-height: 1;
    z-index: 1;
    display: none;
    transition: .3s ease;
}

.multiboxes--image .multiboxes--count {
    position: absolute;
    right: 20px;
    bottom: 10px;
    display: block;
    -webkit-text-stroke-color: var(--image_overlay_heading);
}

@media (min-width:1025px) {
    .multiboxes--wrapper {
        display: flex;
        max-width: calc(100% - 20px);
    }
    .multiboxes--image,
    .multiboxes--content {
        grid-column-start: 1;
        grid-row-start: 1;
        transition: .3s ease;
    }
    .multiboxes--image {
        border-radius: var(--card_radius);
    }
    .multiboxes--content {
        height: 100%;
        opacity: 0;
        visibility: visible;
        z-index: -1;
        background: var(--body_alternate_background);
        border-left: 0 !important;
        border-radius: 0 var(--card_radius) var(--card_radius) 0;
        transition: transform .4s ease-in-out 50ms, visibility .3s ease-in-out;
        margin-right: 1px;
    }
    .multiboxes--item:not(.empty-content).active {
        padding-right: 25%;
        flex: 0 0 50%;
        border-color: transparent;
    }
    .multiboxes--item.active .multiboxes--content {
        opacity: 1;
        visibility: visible;
        transform: translate(calc(100%));
    }
    /* .multiboxes--item.active .multiboxes--image {
        border-radius: var(--card_radius) 0 0 var(--card_radius);
    } */
    .multiboxes--count {
        display: block;
        opacity: 0.2;
    }
    .multiboxes--image .multiboxes--count {
        opacity: 0.5;
    }
    .multiboxes--item.active .multiboxes--image .multiboxes--count {
        opacity: 0;
    }
    .multiboxes--image .media-adapt-content {
        height: 100%;
    }
    .multiboxes--item:not(.empty-content) .multiboxes--image .media-adapt-content {
        padding-bottom: 0;
    }
    .multiboxes--content:after {
        position: absolute;
        width: 20px;
        height: 100%;
        left: -12px;
        content: "";
        top: 0;
        background: var(--body_alternate_background);
    }
}

@media (min-width:1200px) {
    .multiboxes--content-inner {
        max-width: 90%;
    }
    .multiboxes--wrapper {
        gap: 20px;
        max-width: calc(100% - 40px);
    }
}

@media (min-width:1441px) {
    .multiboxes--content-inner {
        padding: 30px 25px;
    }
    .multiboxes--button {
        margin-top: 18px;
    }
}

@media (max-width:1024px) {
    .multiboxes--item {
        background: var(--body_alternate_background);
    }
}

@media (max-width:767px) {
    .multiboxes--wrapper {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 15px;
    }
    .multiboxes--wrapper.mobile-swipe {
        grid-auto-flow: column;
        grid-auto-columns: minmax(85%, 1fr);
        grid-template-columns: repeat(auto-fill, minmax(85%, 1fr));
        overflow-x: auto;
        padding-bottom: 15px;
        scroll-snap-type: x mandatory;
        padding-right: 15px;
    }
    .multiboxes--content-inner {
        padding: 20px;
        padding-bottom: 25px;
    }
    .multiboxes--content-inner-box {
        gap: 15px;
    }
}