.password--wrapper {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

.password-header {
    padding: 20px 0;
    text-align: right;
}

.password--content {
    overflow: auto;
    display: flex;
    padding: 30px 0;
}

.password--content-inner {
    width: 100%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 30px;
    background: var(--card_background);
    border-radius: var(--card_radius);
}

.section-password .text-background-cover {
    background-size: 100% 100%;
}

.password--content-inner .newsletter-form {
    max-width: 90%;
    width: 100%;
}


.password--content.text-center .password--content-inner,
.password--content.text-center .password--content-inner .newsletter-form {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.password--content.text-right .password--content-inner,
.password--content.text-right .password--content-inner .newsletter-form {
    margin-left: auto;
    text-align: right;
}

/* password popup css start */

.password-popup--content {
    padding: 30px;
    padding-top: 10px !important;
}

.password-popup--heading {
    padding-bottom: 10px;
}

.password-popup--desc {
    padding-bottom: 20px;
}

.password-popup--info {
    padding-top: 20px;
}


/* password popup css end */

@media (min-width:576px) {
    .password--content-inner .newsletter-form {
        max-width: 70%;
    }
}

@media (min-width:1200px) {
    .password--content-inner {
        max-width: 750px;
        padding: 50px;
        gap: 20px;
    }

    .password--content-inner .newsletter-form {
        max-width: 55%;
    }
}