.section-promotional-bar {
    position: relative;
    background: var(--edge_background);
}

.promotional-bar--wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    z-index: 1;
}

.promotional-bar--left {
    width: 50%;
}

.promotional-bar--right {
    width: 50%;
}

.promotional-bar--left-content {
    gap: 20px;
    display: flex;
    max-width: 100%;
    align-items: center;
}

.promotional-bar--collection-list {
    display: flex;
    gap: 0px;
    align-items: center;
    padding-left: 10px;
}

.promotional-bar--collection-item {
    width: 60px;
    height: 60px;
    transition: all 0.6s ease;
    will-change: transform;
    margin-left: -10px;
}

.promotional-bar--left-content .promotional-bar--title {
    margin-bottom: 12px;
}

.promotional-bar--arrow-btn svg {
    width: 16px;
    height: auto;
    display: block;
    transition: .5s ease;
    margin-top: 2px;
}

.promotional-bar--video-content {
    display: flex;
    justify-content: end;
    max-width: 520px;
    align-items: center;
    margin-right: 0 !important;
    margin: auto;
    gap: 30px;
}

.promotional-bar--video {
    max-width: 200px;
    width: 100%;
    height: 140px;
    border-radius: var(--card_radius);
}

.promotional-bar--video img {
    object-fit: cover;
    height: 100%;
}

.promotional-bar--video-icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    border: 1px solid var(--button_border);
    color: var(--button_background);
    transition: .5s ease;
}

.promotional-bar--video-heading {
    padding-bottom: 6px;
}

.promotional-bar--video-content.promotional-bar--video-pop-up {
    position: absolute;
    background: #fff;
    width: 100%;
    display: none;
    z-index: 2;
    padding: 30px;
    transform: translateY(100%);
    transition: .3s ease;
}

.promotional-bar--video-content.promotional-bar--video-pop-up.active {
    transform: unset;
    display: block;
}

.section-promotional-bar .video-popup .popup-close {
    position: absolute;
    top: 20px;
    right: 20px;
}

.promotional-bar--popup-video {
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: var(--card_radius);
}

.vedio--popup {
    overflow: hidden;
}

.promotional-bar--main .background--overlay-image {
    overflow: hidden;
}



@media (min-width:1025px) {
    .promotional-bar--collection-item:hover .promotional-bar--collection-img {
        box-shadow: 0 5px 10px #00000054;
    }

    .promotional-bar--collection-item:hover {
        transform: translateY(-8px);
    }

    .promotional-bar--arrow-btn:hover svg {
        transform: translateX(5px);
    }

    .promotional-bar--video:hover .promotional-bar--video-icon {
        transform: translate(-50%, -50%) scale(1.2);
    }
}

@media (min-width:1200px) {
    .promotional-bar--collection-item {
        width: 80px;
        height: 80px;
    }
}

@media (min-width:1441px) {
    .promotional-bar--collection-item {
        width: 90px;
        height: 90px;
    }

    .promotional-bar--left-content {
        gap: 30px;
        max-width: 85%;
    }

    .promotional-bar--video {
        max-width: 230px;
    }
}

@media (max-width:1024px) {
    .promotional-bar--left-content {
        flex-wrap: wrap;
        padding-right: 30px;
    }
}

@media (max-width:767px) {

    .promotional-bar--left,
    .promotional-bar--right {
        width: 100%;
    }

    .promotional-bar--wrapper {
        row-gap: 30px;
    }

    .promotional-bar--left-content {
        padding-right: 0;
        gap: 10px;
        justify-content: center;
    }

    .promotional-bar--collection-item {
        margin-left: 5px;
    }

    .promotional-bar--inner-content {
        width: 100%;
        text-align: center;
    }

    .promotional-bar--inner-content .link-arrow {
        justify-content: center;
    }

    .promotional-bar--video-content {
        justify-content: center;
        max-width: 100%;
        gap: 20px;
        padding: 10px;
        position: relative;
    }

    .promotional-bar--video-content:after {
        content: "";
        background: var(--body_alternate_background);
        opacity: .1;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: var(--card_radius);
        z-index: -1;
    }

    .promotional-bar--video {
        max-width: 150px;
        height: 120px;
    }

    .promotional-bar--video--content-inner {
        flex: 1;
    }

}