.section-revealing-text .section-wrapper {
  overflow: hidden;
  position: relative;
}

.revealing-text-char {
  color: rgb(var(--text_color));
}

.revealing-text-line {
  background: linear-gradient(to right, rgb(var(--text_color)) 50%, rgb(var(--text_color), 0.3) 50%);
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.parallax-effect .revealing-text--wrapper {
  margin-top: 140px;
}

.revealing-text--wrapper.text-left {
  margin-right: auto;
}

.revealing-text--wrapper.text-center {
  margin: 0 auto;
}

.revealing-text--wrapper.text-right {
  margin-left: auto;
}

.revealing-text--wrapper.height-100vh {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.revealing-text--wrapper.height-100vh.text-right {
  justify-content: flex-end;
}

.revealing-text--wrapper.height-100vh.text-center {
  justify-content: center;
}

.revealing-text--button {
  padding-top: 50px;
  position: relative;
}

@keyframes reveal {
  0% {
    transform: translate(0);
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(100%);
    opacity: 0;
  }
}

.section-revealing-text .background--overlay-image {
  overflow: hidden;
}

.section-revealing-text [data-parallax] img {
  height: 140%;
  max-width: unset;
  will-change: transform;
}

@media screen and (min-width: 1441px) {
  .revealing-text--wrapper.content-small {
    max-width: 60%;
  }

  .revealing-text--wrapper.content-medium {
    max-width: 70%;
  }

  .revealing-text--wrapper.content-large {
    max-width: 80%;
  }
}
