.richtext--content.content-small {
    max-width: 85%;
}

.richtext--content.content-medium {
    max-width: 90%;
}

.richtext--content.content-large {
    max-width: 95%;
}

.richtext--content.position-left {
    margin-right: auto;
}

.richtext--content.position-center {
    margin: 0 auto;
}

.richtext--content.position-right {
    margin-left: auto;
}

.richtext--heading,
.richtext--description,
.richtext--button {
    padding-bottom: 15px;
}

.richtext--image {
    margin-bottom: 15px;
    border-radius: var(--card_radius);
}

@media screen and (min-width:768px) {
    .richtext--content.content-small {
        max-width: 65%;
    }
    .richtext--content.content-medium {
        max-width: 75%;
    }
    .richtext--content.content-large {
        max-width: 85%;
    }
    .richtext--heading,
    .richtext--description,
    .richtext--button {
        padding-bottom: 20px;
    }
    .richtext--image {
        margin-bottom: 20px;
    }
}

@media screen and (min-width:1200px) {
    .richtext--content.content-small {
        max-width: 60%;
    }
    .richtext--content.content-medium {
        max-width: 70%;
    }
    .richtext--content.content-large {
        max-width: 80%;
    }
}