.scrolling-collections-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: var(--marquee_gap);
    overflow: hidden;
    justify-content: center;
}

.scrolling-collections-wrapper.has-marquee {
    flex-wrap: nowrap;

}

.scrolling-collections-node {
    display: flex;
    gap: var(--marquee_gap);
}

.scrolling-collections-wrapper.has-marquee .scrolling-collections-node {
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: text-marque;
    animation-duration: var(--marquee_speed);
}

.rtl-direction .scrolling-collections-node {
    animation-direction: normal;
}

.ltr-direction .scrolling-collections-node {
    animation-direction: reverse;
}

.scrolling-collections-wrapper:hover .scrolling-collections-node {
    animation-play-state: paused;
}

@keyframes text-marque {
    0% {
        transform: translateX(0);
        visibility: visible;
    }

    100% {
        transform: translateX(-100%);
    }
}


.scrolling-collections-item {
    width: 100%;
}

.scrolling-collection-card {
    display: block;
    width: 100%;
    overflow: hidden;
    border-radius: var(--card_radius);
    position: relative;
}

.scrolling-collection--content {
    position: absolute;
    inset: 0;
    z-index: 1;
    padding: 25px;
    max-height: 100%;
    overflow: auto;

}

.scrolling-collection--title {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    gap: 5px;
    width: 100%;

}

.collection-hover-content {
    background: rgba(var(--collection_hover_bg));
    color: var(--collection_hover_text);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: .4s ease;
}

.collection-hover-content .scrolling-collection--title {
    justify-content: space-between;
    color: var(--collection_hover_text);
    text-align: left;
    align-items: center;
}

.scrolling-collection--count {
    white-space: nowrap;
}

.content-position-bottom .scrolling-collection--content:not(.collection-hover-content) .scrolling-collection--title {
    margin-bottom: 0;
    justify-content: flex-start;
    text-align: left;
}

.content-position-bottom .scrolling-collection--content:not(.collection-hover-content) .scrolling-collection--description {
    text-align: left;
    margin: 0;
}

.scrolling-collection--content:not(.collection-hover-content) .scrolling-collection--description {
    text-align: right;
    color: var(--image_overlay_text);
}

.scrolling-collection--content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-position-bottom .scrolling-collection--content:not(.collection-hover-content) {
    justify-content: flex-end;
}

/* .content-position-top .scrolling-collection--content.collection-hover-content {
    justify-content: center;
} */ 
.scrolling-collection--content.collection-hover-content .scrolling-collection--description {
    color: var(--collection_hover_text);
}
.hover-content-style-full-width .scrolling-collection-card  .collection-hover-content {
    justify-content: center;
}
 

@media (min-width: 768px) {

    .scrolling-collections-item,
    .has-marquee.column-count-4 .scrolling-collections-item {
        width: calc(22vw - var(--marquee_gap));
    }

    .has-marquee.column-count-3 .scrolling-collections-item {
        width: calc(31vw - var(--marquee_gap));
    }

    .has-marquee.column-count-2 .scrolling-collections-item {
        width: calc(45vw - var(--marquee_gap));
    }
}

@media (min-width: 1025px) {

    .hover-content-style-compact .scrolling-collection-card:hover .scrolling-collection--content.collection-hover-content,
    .hover-content-style-full-width .scrolling-collection-card:hover .collection-hover-content {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .scrolling-collection-card:hover .scrolling-collection--content:not(.collection-hover-content) {
        opacity: 0;
        visibility: hidden;
    }

    .hover-content-style-compact .scrolling-collection-card .scrolling-collection--content:not(.collection-hover-content) {
        transition: transform .2s ease, opacity .3s ease, visibility .3s ease;
    }

    .hover-content-style-compact .scrolling-collection-card:hover .scrolling-collection--content:not(.collection-hover-content) {
        transform: translateY(-20px);
    }

    .hover-content-style-compact .scrolling-collection-card:hover .scrolling-collection--content.collection-hover-content {
        transform: translateY(0);
    }

    .hover-content-style-compact .scrolling-collection--content.collection-hover-content {
        border-radius: 30px;
        top: auto;
        margin: 10px;
        transform: translateY(100%);
        padding: 20px;
    }
}


@media (max-width: 767px) {
    .scrolling-collections-item {
        width: calc(46vw - var(--marquee_gap))
    }

    .has-marquee .scrolling-collections-item {
        width: calc(85vw - var(--marquee_gap))
    } 
    
    .scrolling-collection--content:not(.collection-hover-content) {
        opacity: 0;visibility: hidden;
    }
    .scrolling-collection--content {
        padding: 15px;
    }
    .scrolling-collection--content.collection-hover-content {
        position: unset;
        opacity: 1;
        visibility: visible;
    } 
}