.section-slideshow .section-wrapper {
  overflow: hidden;
}

/*.slideshow--marquee-overlay {
    background: rgb(var(--image_overlay_background));
    height: 100%;
    position: absolute;
    inset: auto 0% 0%;
    z-index: 1;
    pointer-events: none;
    user-select: none;
}

.slideshow--marquee-outer {
    white-space: nowrap;
    position: absolute;
    margin-bottom: 10px;
    z-index: 22;
    bottom: -10%;
}

.slideshow--marquee-inner {
    display: flex;
    gap: 20px;
}

.slideshow--marquee-content {
    color: var(--image_overlay_heading);
    font-size: var(--marquee_font_size);
}

.slideshow--marquee-scroll-content {
    position: relative;
    opacity: 0;
    z-index: 2;
}

.slideshow--marquee-scroll-content .heading-font {
    color: var(--image_overlay_heading);
}

.slideshow--marquee-scroll-content .slideshow--marquee-scroll-desc {
    color: var(--image_overlay_text);
}


.slideshow--marquee-overlay {
    position: absolute;
    background: linear-gradient(to top, rgb(var(--image_overlay_background)) var(--overlay_gradient), rgba(0, 0, 0, 0) 100%);
    inset: 0;
    opacity: 0;
}

.wrapped-marque {
    width: 100%;
    height: 100%;
    position: relative;
}*/

.slideshow--outer {
  position: relative;
  overflow: hidden;
}

.slideshow--content-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.slideshow--content {
  position: absolute;
  width: 100%;
  max-width: 90%;
}

.slideshow--heading {
  margin-bottom: 20px;
  display: block;
}

.slideshow--desc {
  margin-bottom: 10px;
}

.slideshow--content .slideshow--heading + .slideshow--desc {
  margin-bottom: 30px;
}

.slideshow--button-box {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.slideshow--outer .swiper-button {
  top: auto;
}

/* slideshow animations */

.animeslide-slide.swiper-slide-active [data-animate] {
  opacity: 1;
  transform: none;
}

.animeslide-slide.swiper-slide-active .animeslide-heading {
  transition-delay: 0.4s;
}

.animeslide-slide.swiper-slide-active .animeslide-desc {
  transition-delay: 0.7s;
}

.animeslide-slide.swiper-slide-active .animeslide-primary-btn {
  transition-delay: 1s;
}

.animeslide-slide.swiper-slide-active .animeslide-secondary-btn {
  transition-delay: 1.1s;
}

[data-animate] {
  opacity: 0;
  transition: all 0.8s ease-out;
}

[data-animate='bottom'] {
  transform: translate3d(0, 15px, 0);
}

/* slideshow animations */

@media (min-width: 768px) {
  .slideshow--content {
    padding-bottom: 30px;
  }

  .slideshow--content.small-width,
  .slideshow--marquee-scroll-content.small-width {
    max-width: 500px;
  }

  .slideshow--content.medium-width,
  .slideshow--marquee-scroll-content.small-width {
    max-width: 600px;
  }

  .slideshow--content.large-width,
  .slideshow--marquee-scroll-content.small-width {
    max-width: 800px;
  }

  .slideshow--button-box {
    gap: 20px;
  }

  .slideshow--outer .swiper-button {
    bottom: 35px;
  }

  .content-for-layout .section-slideshow:first-child .slideshow--content.d-top-left,
  .content-for-layout .section-slideshow:first-child .slideshow--content.d-top-center,
  .content-for-layout .section-slideshow:first-child .slideshow--content.d-top-right {
    top: calc(20px + var(--desktop_transparent_header_height, 0px) + var(--announcement_height, 0px));
  }

  .slideshow--outer:not(.navigation-none) .slideshow--content.d-bottom-left,
  .slideshow--outer:not(.navigation-none) .slideshow--content.d-bottom-center,
  .slideshow--outer:not(.navigation-none) .slideshow--content.d-bottom-right {
    bottom: calc(var(--slider_arrow_width) + 20px);
  }

  .navigation-arrows .swiper-pagination,
  .navigation-dots .swiper--button-wrapper,
  .navigation-none .swiper-pagination,
  .navigation-none .swiper--button-wrapper {
    display: none;
  }
}

@media (min-width: 1025px) {
  .slideshow--content.small-width,
  .slideshow--marquee-scroll-content.small-width {
    max-width: 600px;
  }

  .slideshow--content.medium-width,
  .slideshow--marquee-scroll-content.small-width {
    max-width: 800px;
  }

  .slideshow--content.large-width,
  .slideshow--marquee-scroll-content.small-width {
    max-width: 1000px;
  }

  .slideshow--content.d-top-left,
  .slideshow--content.d-center-left,
  .slideshow--content.d-bottom-left {
    left: 2rem;
  }

  .slideshow--content.d-top-right,
  .slideshow--content.d-center-right,
  .slideshow--content.d-bottom-right {
    right: 2rem;
  }
}

@media (min-width: 1200px) {
  .slideshow--content.d-top-left,
  .slideshow--content.d-center-left,
  .slideshow--content.d-bottom-left {
    left: 4rem;
  }

  .slideshow--content.d-top-right,
  .slideshow--content.d-center-right,
  .slideshow--content.d-bottom-right {
    right: 4rem;
  }

  .slideshow--outer .swiper-pagination {
    bottom: 30px;
  }

  .marquee-enabled .swiper-pagination.swiper-pagination-bullets {
    right: 0;
    left: auto;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
  }
}

@media (min-width: 1441px) {
  .slideshow--content.d-top-left,
  .slideshow--content.d-center-left,
  .slideshow--content.d-bottom-left {
    left: 7rem;
  }

  .slideshow--content.d-top-right,
  .slideshow--content.d-center-right,
  .slideshow--content.d-bottom-right {
    right: 7rem;
  }
}

@media (max-width: 767px) {
  .slideshow--outer .slideshow--wrapper {
    padding-bottom: 0;
  }

  .slideshow--outer .swiper-button {
    bottom: 20px;
  }

  .main-content .section-slideshow:first-child .slideshow--content.m-top-left,
  .main-content .section-slideshow:first-child .slideshow--content.m-top-center,
  .main-content .section-slideshow:first-child .slideshow--content.m-top-right {
    top: calc(20px + var(--desktop_transparent_header_height, 0px) + var(--announcement_height, 0px));
  }

  .slideshow--content.m-bottom-left,
  .slideshow--content.m-bottom-center,
  .slideshow--content.m-bottom-right {
    bottom: calc(var(--slider_arrow_width) + 30px);
  }

  .slideshow--content.m-text-center .slideshow--button-box {
    justify-content: center;
  }

  .slideshow--content.m-text-right .slideshow--button-box {
    justify-content: flex-end;
  }
}
