.trending-products--list {
    display: flex;
    flex-wrap: wrap;
}

.trending-products--list-item {
    flex: 1;
    padding: 120px 0 80px;
}

.trending-products--image {
    max-width: 410px;
    margin: 0 auto;
    z-index: 1;
    transition: transform 1.3s cubic-bezier(.285, .02, .18, 1.02);
}

.trending-products--image-inner {
    border-radius: var(--product_card_radius);
    box-shadow: 0 8px 20px #0000001a;
}

.trending-products--button {
    position: absolute;
    left: -33px;
    bottom: 100px;
    width: 85px;
    height: 85px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trending-products--button .arrow--btn svg {
    width: 16px;
    transition: .5s ease;
}

.arrow--btn-text {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    fill: var(--button_background);
    border-radius: 100%;
    animation: arrow_rotation 5s linear infinite;
}

.arrow--btn-text svg {
    overflow: visible;
}

@keyframes arrow_rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.trending-products--info {
    padding: 0 7rem;
    margin-top: 80px;
    position: relative;
    z-index: 1;
}

.trending-products--content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.trending-products--content-left {
    flex: 0 0 50%;
    flex-basis: 50%;
    transition: 1.3s cubic-bezier(.285, .02, .18, 1.02) .2s
}

.trending-products--price {
    flex: 0 0 30%;
    flex-basis: 30%;
}

.trending-products--content-inner {
    transition: 1.3s cubic-bezier(.285, .02, .18, 1.02) .2s;
}

.trending-products--detail {
    padding-top: 15px;
    transition: 1.3s cubic-bezier(.285, .02, .18, 1.02) .2s;
}

.trending-products--content,
.trending-products--button {
    transition: 1.3s cubic-bezier(.285, .02, .18, 1.02)
}

.trending-products--price {
    transition: .3s cubic-bezier(.285, .02, .18, 1.02)
}

.trending-products--swatches {
    padding-top: 20px;
}

.trending-products--swatches-list {
    display: flex;
    flex-wrap: nowrap;
}

.trending-products--swatch-item {
    border-radius: 100%;
    width: 28px;
    height: 28px;
    border: 2px solid var(--border_color);
    transition: .5s ease-out;
    margin-right: 5px;
    position: relative;
}

.trending-products--swatch-inner {
    background: var(--swatch_color, #ddd);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    border-radius: 100%;
    border: 0;
    padding: 0px;
}

.trending-products--list-item:first-child:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-right: 1px solid var(--border_color);
    transition: transform 1.3s cubic-bezier(.285, .02, .18, 1.02);
}

.trending-products--hover-bg {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: calc(100% + 8.4vw);
    height: 100%;
    background: var(--hover_bg);
    background-size: cover;
    background-repeat: no-repeat;
    transform-origin: 0 0;
    pointer-events: none;
    transition: transform 1.3s cubic-bezier(.285, .02, .18, 1.02);
}

.trending-products--list-item:last-child .trending-products--hover-bg {
    left: auto;
    right: 0px;
    transform: translateX(100%);
    transform-origin: 100% 100%;
}

.trending-products--hover-bg.image-enabled:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(var(--image_overlay_background), var(--image_overlay_opacity));
}

.trending-products--bg-text-outer {
    position: absolute;
    top: 0;
    width: calc(100% + 8.4vw);
    max-width: calc(100% + 8.4vw);
    height: 100%;
    z-index: 0;
    overflow: hidden;
    pointer-events: none;
    transition: transform 1.3s cubic-bezier(.285, .02, .18, 1.02);
}

.trending-products--list-item:first-child .trending-products--bg-text-outer {
    left: 0;
}

.trending-products--list-item:nth-child(2) .trending-products--bg-text-outer {
    right: 0;
}

.trending-products--bg-text {
    font-size: 15rem;
    text-align: center;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 0;
    position: relative;
    top: 20rem;
    color: var(--body_background);
    font-weight: 600;
}

.trending-products--list-item:first-child .trending-products--bg-text {
    left: 0;
}

.trending-products--list-item:nth-child(2) .trending-products--bg-text {
    right: 0;
}

.trending-products--bg-text-inner[data-direction="-1"] {
    margin-top: 13rem;
}

.trending-products--bg-text-inner[data-direction="1"] {
    margin-top: 10rem;
}

.BackgroundText-inner {
    width: 100%;
    height: 60rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width:1025px) {

    .trending-products--list-item:hover .trending-products--title,
    .trending-products--list-item:hover .trending-products--detail *,
    .trending-products--list-item:hover .trending-products--price {
        color: var(--hover_color);
    }

    .trending-products--price {
        font-size: var(--h6);
    }

    .trending-products--button {
        transform: scale(0);
    }

    .trending-products--list-item:hover .trending-products--button {
        transform: scale(1);
    }

    .trending-products--button:hover .arrow--btn svg {
        transform: rotate(-45deg);
    }

    .trending-products--swatch-item:not(:first-child) {
        margin-left: -1rem;
    }

    .trending-products--swatches-list:hover .trending-products--swatch-item:not(:first-child) {
        margin-left: 0;
    }

    .trending-products--list-item:first-child .trending-products--bg-text-outer {
        transform: translate3d(-30%, 0, 0);
    }

    .trending-products--list-item:nth-child(2) .trending-products--bg-text-outer {
        transform: translate3d(30%, 0, 0);
    }

    .trending-products--list-item:nth-child(2).is-deployed .trending-products--bg-text-outer {
        right: 0;
    }

    .trending-products--list-item:first-child.is-deployed:after,
    .trending-products--list-item:first-child.is-deployed .trending-products--price,
    .trending-products--list-item:nth-child(2).is-retracted .trending-products--content-left {
        transform: translate3d(8.4vw, 0, 0);
    }

    .trending-products--list-item:first-child.is-retracted:after,
    .trending-products--list-item:first-child.is-retracted .trending-products--price,
    .trending-products--list-item:nth-child(2).is-deployed .trending-products--content-left {
        transform: translate3d(-8.4vw, 0, 0);
    }

    .trending-products--list-item:first-child.is-deployed .trending-products--image,
    .trending-products--list-item:nth-child(2).is-retracted .trending-products--image {
        transform: translate3d(4.16667vw, 0, 0);
    }

    .trending-products--list-item:first-child.is-retracted .trending-products--image,
    .trending-products--list-item:nth-child(2).is-deployed .trending-products--image {
        transform: translate3d(-4.16667vw, 0, 0);
    }

    .trending-products--list-item.is-deployed .trending-products--hover-bg,
    .trending-products--list-item.is-deployed .trending-products--bg-text-outer {
        transform: unset;
    }

    .trending-products--list-item.is-deployed:before {
        content: "";
        width: 8.4vw;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 3;
    }

    .trending-products--list-item.is-deployed:first-child::before {
        left: 100%;
    }

    .trending-products--list-item.is-deployed:last-child::before {
        right: 100%;
        z-index: 1;
    }

    .trending-products--list-item.is-retracted .trending-products--content-inner {
        transform: translate3d(0, var(--desc-height, 40px), 0);
        transition: transform 1.3s cubic-bezier(.285, .02, .18, 1.02) 0s;
    }

    .trending-products--list-item.is-retracted .trending-products--detail {
        transform: translate3d(0, 100%, 0);
        transition: transform 1.3s cubic-bezier(.285, .02, .18, 1.02) 0s;
    }

}

@media (min-width:1200px) {
    .trending-products--title {
        font-size: var(--h6);
    }
}

@media (max-width: 1440px) {

    .trending-products--bg-text {
        font-size: 11rem;
    }

    .trending-products--image {
        max-width: 310px;
    }

    .trending-products--info {
        padding: 0 4rem;
    }

    .trending-products--content-inner {
        flex: 0 0 65%;
    }
}

@media (max-width: 1199px) {
    .trending-products--info {
        padding: 0 2rem;
    }
}

@media (max-width:1024px) {

    .trending-products--hover-bg,
    .trending-products--list-item:last-child .trending-products--hover-bg,
    .trending-products--list-item:first-child .trending-products--bg-text,
    .trending-products--list-item:nth-child(2) .trending-products--bg-text {
        transform: unset;
    }

    .trending-products--hover-bg,
    .trending-products--list-item:last-child .trending-products--hover-bg,
    .trending-products--bg-text-outer {
        width: 100%;
        max-width: 100%
    }

    .trending-products--list-item {
        padding: 60px 0 60px;
    }

    .trending-products--image {
        max-width: 250px;
    }

    .trending-products--button {
        bottom: 40px;
        width: 70px;
        height: 70px;
    }

    .trending-products--button .arrow--btn svg {
        width: 14px;
    }

    .trending-products--content-left {
        flex: 0 0 65%;
        flex-basis: 65%;
    }

    .trending-products--info {
        margin-top: 40px;
    }

    .trending-products--content-inner *,
    .trending-products--price {
        color: var(--hover_color);
    }

    .trending-products--bg-text {
        font-size: 6rem;
        top: 10rem;
    }

    .trending-products--bg-text-inner[data-direction="1"],
    .trending-products--bg-text-inner[data-direction="-1"] {
        margin-top: 0rem;
    }

    .BackgroundText-inner {
        height: 100%;
    }
}

@media (max-width:767px) {
    .trending-products--list-item {
        flex: 1 1 100%;
    }

    .trending-products--list-item:first-child:after {
        display: none;
    }

    .trending-products--info {
        margin-top: 30px;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .trending-products--content {
        flex-wrap: wrap;
        row-gap: 15px;
        justify-content: center;
    }

    .trending-products--content-left,
    .trending-products--price {
        flex: 0 0 100%;
        flex-basis: 100%;
        text-align: center;
    }

    .trending-products--detail {
        padding-top: 8px;
    }

    .trending-products--swatches-list {
        justify-content: center;
    }

    .trending-products--bg-text {
        font-size: 5rem;
        top: 6rem;
    }
}

@media (max-width:414px) {
    .trending-products--image {
        max-width: 230px;
    }

    .trending-products--info {
        max-width: 100%;
    }

    .trending-products--button {
        width: 55px;
        height: 55px;
        left: -25px;
    }
}