.video--container {
    z-index: 1;
    border-radius: var(--card_radius);
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
}

.section-video .no-container .video--container {
    border-radius: 0;
}

.video-cover-image,
.video-cover-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 1;
}

.video-cover-image {
    background: var(--image_bg);
}

.video-cover-image img {
    object-fit: cover;
}

.video--wrapper iframe,
.video--wrapper video {
    width: 100%;
    height: 100%;
    object-fit: var(--object_fit);
}

.video--content-wrapper {
    pointer-events: none;
}

.video--content {
    display: flex;
    align-items: var(--content_position);
    justify-content: var(--content_alignment);
    padding: 20px 0;
}

.video--content-button {
    padding-bottom: 20px;
    pointer-events: all;
}

.video-play-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    background: rgba(255, 255, 255, 0.2);
    color: var(--image_overlay_heading);
    border: 1px solid var(--image_overlay_heading);
    border-radius: 100%;
}

.video-play-text {
    position: absolute;
    width: 70%;
    height: 70%;
    left: 15%;
    top: 15%;
    color: var(--image_overlay_heading);
    border-radius: 100%;
    animation: rotation 9s linear infinite;
}

.video-play-text svg {
    overflow: visible;
    fill: currentColor;
}

@keyframes rotation {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (min-width:768px) {

    .video--wrapper,
    .video--content-wrapper {
        grid-row-start: 1;
        grid-column-start: 1;
    }

    .video--content-wrapper {
        z-index: 1;
    }

    .video--content-inner.small-width {
        max-width: 500px;
    }

    .video--content-inner.medium-width {
        max-width: 700px;
    }

    .video--content-inner.large-width {
        max-width: 1000px;
    }
}

@media (min-width:1025px) {
    .video--content-inner.small-width {
        max-width: 600px;
    }

    .video--content-inner.medium-width {
        max-width: 800px;
    }

    .video--content-inner.large-width {
        max-width: 1200px;
    }
}

@media (max-width:767px) {
    .video--content {
        padding: 20px 0 0;
    }

    .video--content-wrapper.empty-content .video--content {
        padding: 0;
    }

    .video-play-button {
        width: 60px;
        height: 60px;
    }

    .video-play-button>svg {
        width: 14px;
    }

    .video--content-button {
        padding-bottom: 0;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        cursor: pointer;
    }
}